    /*------------------------------------------------------------------

Project:		OYEENok E-Commerce Bootsrap Responsive Template
Version:		1.1
Last change:	27/09/17
Created by: 	Lionode

-------------------------------------------------------------------*/


/* -----  Google Font  -----*/

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700');

/* -----  ionicons Font  -----*/

@import url("ionicons.min.css");

/* -----  font awesome Font  -----*/

@import url("font-awesome.min.css");


/* =====  INDEX OF STYLES ===== */


/*
01 ===== BASIC  =====
  1.1 General
  1.2 Typography  
  1.3 Spacing    
  1.4 Button
  1.5 Elements
  1.6 Accordions
  1.7 Tabs
  1.8 Progress Bars
  1.9 Inputs
  1.10 Newslatter popup 
  
02 ===== HEADER ===== 
  2.1 Header
  2.2 Navbar
  2.3 Megamenu
  2.4 Search
  2.5 Cart
  2.6 Header bottom
  
03 ===== CONTANT =====
  3.1 Left column
  3.2 Right column
  	3.2.1 main banner
  	3.2.2 CMS-Banner
  	3.2.3 Home product
  	3.2.4 Breadcrumb
  	3.2.5 Blog
  	3.2.6 Single Blog
  	3.2.7 Product + Category Page 
  	3.2.8 Client
  	3.2.9 Owl nav
  	3.2.10 About
  	3.2.11 Team
  	3.2.12 Contact
  	3.2.13 Shop Page
  	3.2.14 Login & register
  	3.2.15 Map
  	3.2.16 Brand
  
04 ===== FOOTER =====
	4.1 Footer General
	4.2 Scrollup
*/


/* ----------------------------------------------
	BASIC
	1.1 General  
----------------------------------------------- */

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    line-height: 24px;
    color: #494b4c;
    font-size: 14px;
    font-family: 'Josefin+Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.loder {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/loder.gif) center no-repeat #fff;
}

::-moz-selection {
    background-color: #1A1A1A;
    color: #FFF;
}
::selection {
    background-color: #1A1A1A;
    color: #FFF;
}
img {
    height: auto;
    max-width: 100%;
    border: none;
    outline: none;
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}
ul li {
    list-style: none;
}
br {
    font-size: 0;
    line-height: 0;
}
hr {
    margin-bottom: 0px;
    margin-top: 0px;
    border-top: 1px solid #e5e5e5;
    border-bottom: none;
    border-left: none;
    border-right: none;
}
.dropdown-menu {
    background-clip: padding-box;
    background-color: rgb(244 245 247);
    border: none;
    border-radius: 0px;
    box-shadow: none;
    margin: 11px 0 0;
    padding: 15px;
}
.dropdown-menu>li>a {
    color: #fff;
    padding: 5px 15px;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-color: #e40001;
    color: #fff;
}
ul {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0;
}
.bg-gray {
    background: #f7f7f7;
}
.bg-dark-gray {
    background: #ededed;
}
.bg-dark {
    background: #000000;
    color: #fff;
}
.bg-dark-90 {
    background: #1a1a1a;
    color: #fff;
}
.bg-light {
    background: #ffffff;
}
.light {
    color: #fff;
}
.dark {
    color: #000;
}

/* ----------------------------------------------
	1.2 Typography 
----------------------------------------------- */

a {
    cursor: pointer;
    text-decoration: none;
    color: #808080;
    transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
}
a:hover, a:focus {
    color: #000;
    text-decoration: none;
    transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
}
a, a:focus, a:active, a:link, img {
    outline: none;
    text-decoration: none;
}
a.active {
    color: #000;
}
p {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
}
h1 {
    font-size: 36px;
    line-height: 42px;
}
h2 {
    font-size: 30px;
    line-height: 36px;
}
h3 {
    font-size: 22px;
    line-height: 26px;
}
h4 {
    font-size: 18px;
    line-height: 22px;
}
h5 {
    font-size: 16px;
    line-height: 20px;
}
h6 {
    font-size: 14px;
    line-height: 18px;
}
.uppr {
    text-transform: uppercase;
}
.lower {
    text-transform: lowercase;
}
.capitalize {
    text-transform: capitalize;
}

/* ----------------------------------------------
	1.3 Spacing 
----------------------------------------------- */

.box {
    margin: 0 -10px;
}
.no-space {
    padding: 0;
    margin: 0;
}
.no-margin {
    margin: 0;
}

/* =====  margin top  ===== */

.mtblr_20 {
    margin: 20px;
}
.mt_0 {
    margin-top: 0;
}
.mt_10 {
    margin-top: 10px;
}
.mt_20 {
    margin-top: 20px;
}
.mt_25 {
    margin-top: 25px;
}
.mt_30 {
    margin-top: 30px;
}
.mt_40 {
    margin-top: 40px;
}
.mt_50 {
    margin-top: 50px;
}
.mt_60 {
    margin-top: 60px;
}
.mt_70 {
    margin-top: 70px;
}
.mt_80 {
    margin-top: 80px;
}
.mt_90 {
    margin-top: 90px;
}
.mt_100 {
    margin-top: 100px;
}

/* =====  margin bottom  ===== */

.mb_0 {
    margin-bottom: 0;
}
.mb_10 {
    margin-bottom: 10px;
}
.mb_20 {
    margin-bottom: 20px;
}
.mb_30 {
    margin-bottom: 30px;
}
.mb_40 {
    margin-bottom: 40px;
}
.mb_50 {
    margin-bottom: 50px;
}
.mb_60 {
    margin-bottom: 60px;
}
.mb_70 {
    margin-bottom: 70px;
}
.mb_80 {
    margin-bottom: 80px;
}
.mb_90 {
    margin-bottom: 90px;
}
.mb_100 {
    margin-bottom: 100px;
}

/* =====  margin top bottom ===== */

.mtb_10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.mtb_20 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.mtb_30 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.mtb_40 {
    margin-top: 40px;
    margin-bottom: 40px;
}
.mtb_50 {
    margin-top: 50px;
    margin-bottom: 50px;
}
.mtb_60 {
    margin-top: 60px;
    margin-bottom: 60px;
}
.mtb_70 {
    margin-top: 70px;
    margin-bottom: 70px;
}
.mtb_80 {
    margin-top: 80px;
    margin-bottom: 80px;
}
.mtb_90 {
    margin-top: 90px;
    margin-bottom: 90px;
}
.mtb_100 {
    margin-top: 100px;
    margin-bottom: 100px;
}

/* =====  padding  ===== */

.no-padding {
    padding: 0;
}

/* =====  padding top ===== */

.pt_10 {
    padding-top: 10px;
}
.pt_20 {
    padding-top: 20px;
}
.pt_30 {
    padding-top: 30px;
}
.pt_40 {
    padding-top: 40px;
}
.pt_50 {
    padding-top: 50px;
}
.pt_60 {
    padding-top: 60px;
}
.pt_70 {
    padding-top: 70px;
}
.pt_80 {
    padding-top: 80px;
}
.pt_90 {
    padding-top: 90px;
}
.pt_100 {
    padding-top: 100px;
}

/* =====  padding bottom ===== */

.pb_10 {
    padding-bottom: 10px;
}
.pb_20 {
    padding-bottom: 20px;
}
.pb_30 {
    padding-bottom: 30px;
}
.pb_40 {
    padding-bottom: 40px;
}
.pb_50 {
    padding-bottom: 50px;
}
.pb_60 {
    padding-bottom: 60px;
}
.pb_70 {
    padding-bottom: 70px;
}
.pb_80 {
    padding-bottom: 80px;
}
.pb_90 {
    padding-bottom: 90px;
}
.pb_100 {
    padding-bottom: 100px;
}

/* =====  padding top bottom ===== */

.ptb_10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.ptb_20 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.ptb_30 {
    padding-top: 30px;
    padding-bottom: 30px;
}
.ptb_40 {
    padding-top: 40px;
    padding-bottom: 40px;
}
.ptb_50 {
    padding-top: 50px;
    padding-bottom: 50px;
}
.ptb_60 {
    padding-top: 60px;
    padding-bottom: 60px;
}
.ptb_70 {
    padding-top: 70px;
    padding-bottom: 70px;
}
.ptb_80 {
    padding-top: 80px;
    padding-bottom: 80px;
}
.ptb_90 {
    padding-top: 90px;
    padding-bottom: 90px;
}
.ptb_100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* ----------------------------------------------
	1.4 Button 
----------------------------------------------- */

.btn {
    background: #000 none repeat scroll 0 0;
    border-radius: 0;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 500;
}
.btn:hover, .btn:focus, .btn.focus {
    background: #22559a none repeat scroll 0 0;
    color: #fff;
    text-decoration: none;
}
.btn-link-b, .btn-link-w {
    background: transparent;
    border-bottom: 1px solid;
    padding: 0 0 10px;
    letter-spacing: 0;
}
.btn-link-b {
    color: #000;
}
.btn-link-w {
    color: #fff;
}
.btn-link-w:hover, .btn-link-w:focus, .btn-link-b:hover, .btn-link-b:focus {
    text-decoration: none;
    border-bottom: 1px solid;
}
.btn-dark {
    background: #000 none repeat scroll 0 0;
    color: #fff;
}
.btn-light {
    background: #fff none repeat scroll 0 0;
    color: #000;
}
.btn-border {
    border: 1px solid;
    background-color: transparent;
}

/* ----------------------------------------------
	1.5 Elements 
----------------------------------------------- */

.alert {
    border-radius: 0px;
    padding: 10px 15px;
}
.alert-dismissable .close, .alert-dismissible .close {
    top: 0;
    right: 0;
}

/* =====  Icon  =====*/

i.left {
    margin-right: 10px;
}
i.right {
    margin-left: 10px;
}
.icon-top i, .icon-right i, .icon-left i {
    color: #000;
    font-size: 50px;
}
.feature-i-left {
    padding-left: 75px;
}
.feature-i-left, .feature-i-right {
    display: inline-block;
    position: relative;
}
.icon-left, .icon-right {
    display: inline-block;
    position: absolute;
    text-align: center;
    width: 60px;
    height: 100%;
}
.icon-left {
    right: 0;
}
.icon-right {
    left: 0;
}

/* ----------------------------------------------
	1.6 Accordian 
----------------------------------------------- */

.panel-default {
    width: 100%;
}
.panel-group .panel {
    border-radius: 0;
}
.panel-default>.panel-heading {
    background: none;
    border-radius: 0;
}
.panel-default {
    border-color: #e5e5e5;
}

/* ----------------------------------------------
	1.7 Tabs 
----------------------------------------------- */

.nav>li>a {
    padding: 7px 15px;
    border-radius: 0;
    color: #494b4c;
}
.nav>li>a:hover, .nav>li>a:focus {
    background: transparent;
    color: #e40001;
}
#product-tab .nav li {
    display: inline-block;
}
.panel-default>.panel-heading a {
    font-weight: 600;
    letter-spacing: 0px;
}

/* ----------------------------------------------
	1.8 Progress Bars
----------------------------------------------- */

.progress-title {
    font-size: 16px;
    font-weight: 700;
    color: #011627;
    margin: 0 0 20px;
}
.progress {
    height: 10px;
    background: #cbcbcb;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 30px;
    overflow: visible;
}
.progress .progress-bar {
    box-shadow: none;
    position: relative;
    -webkit-animation: animate-positive 2s;
    animation: animate-positive 2s;
}
.progress .progress-bar::after {
    border-color: transparent;
    border-image: none;
    border-style: solid;
    border-width: 12px 6px 14px;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -26px;
}
.progress .progress-value {
    font-size: 15px;
    font-weight: bold;
    color: #000;
    position: absolute;
    top: -40px;
    right: 0;
}
.progress.pink .progress-bar:after {
    border-bottom-color: #ff4b7d;
}
.progress.green .progress-bar:after {
    border-bottom-color: #5fad56;
}
.progress.yellow .progress-bar:after {
    border-bottom-color: #e8d324;
}
.progress.blue .progress-bar:after {
    border-bottom-color: #3485ef;
}
.circle {
    width: 100%;
    display: inline-block;
    text-align: center;
    line-height: 1.2
}
.circle strong {
    line-height: 40px;
    position: absolute;
    text-align: center
}
.circle strong {
    left: 0;
    top: 30px;
    width: 100%;
    font-size: 30px
}
.circle strong i {
    font-style: normal;
    font-size: .6em;
    font-weight: 400
}
.circle span {
    display: block;
    margin-top: 12px
}
@-webkit-keyframes animate-positive {
    0% {
        width: 0;
    }
}
@keyframes animate-positive {
    0% {
        width: 0;
    }
}
#p_line .progress {
    position: relative;
    height: 25px;
    box-shadow: none;
    border-radius: 0;
    background-color: #ddd;
}
#p_line .progress>.progress-type {
    position: absolute;
    left: 0px;
    padding: 0px 10px;
    color: rgb(255, 255, 255);
}
#p_line .progress>.progress-completed {
    position: absolute;
    right: 0px;
    padding: 0px 10px;
    color: #000;
}

/* ----------------------------------------------
	1.9 Inputs
----------------------------------------------- */

input[type="text"], input[type="email"], input[type="tel"], input[type="number"], input[type="password"], 
input[type="radio"], input[type="checkbox"], input[type="file"], textarea, select {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #e5e5e5;
    border-image: none;
    border-radius: 6px 6px;
    border-style: solid;
    border-width: 1px;
    background-color: #f4f5f7;
    color: #000;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    outline: medium none;
    transition: all 0.2s ease 0s;
    padding: 8px 10px;
    min-width: 100%;
    letter-spacing: 0px;
    outline: none;
    box-shadow: 0px 0px;
}
input[type="radio"], input[type="checkbox"] {
    min-width: auto;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
textarea {
    min-height: 140px;
}
.checkout-btn {
    background: #22559a;
    border-color: #22559a;
    border-radius: 6px 6px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    padding: 10px 56px;
}
::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #808080;
    opacity: 1
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #808080;
    opacity: 1
}
:-ms-input-placeholder {
    /* IE 10+ */
    color: #808080;
    opacity: 1
}
:-moz-placeholder {
    /* Firefox 18- */
    color: #808080;
    opacity: 1
}
input:focus, textarea:focus {
    border-color: #000;
}
.full-with-form {
    width: 100%;
    max-width: 100%;
}

/* =====  Select  =====*/

.form-control {
    border-radius: 0px;
    box-shadow: none;
    max-width: 100%;
}
.form-control:focus {
    box-shadow: none;
    border-color: #000;
}


/* ----------------------------------------------
	1.10 Newslatter popup
----------------------------------------------- */

.newsletters {
    display: inline-block;
    width: 100%;
}
.newsletters h2 {
    font-size: 20px;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
}
.newsletters input {
    background: #F5F5F5 none repeat scroll 0 0;
    border: medium none;
    color: #000;
    height: 55px;
    margin: 0;
    padding: 0 20px;
    width: 390px;
}
.newsletters button {
    border: none;
    border-radius: 0;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: none;
    height: 55px;
    float: right;
    width: 180px;
    border: 1px solid #000;
    transition: 0.5s;
    letter-spacing: 0.5px;
}
.newsletters button:hover, .newsletters button.btn-default:focus {
    background: #fff;
    border-color: #000;
    color: #000;
    transition: 0.5s;
    box-shadow: none;
}
.newsletter-popup .popup-text {
    text-align: center;
}
.newsletter-popup .popup-image {
    margin-bottom: 35px;
}
.newsletter-popup .checkbox label {
    color: #000000;
}
.newsletter-popup .popup-title {
    font-family: "Open Sans";
    font-size: 80px;
    line-height: 60px;
    text-transform: capitalize;
    color: #000000;
    font-weight: 700;
    padding-bottom: 0px;
    float: left;
}
.newsletter-popup .popup-title span {
    font-size: 24px;
    margin-left: -20px;
    color: #e40001;
}
.newsletter-popup, .success_msg {
    background: #f0f0f0;
    box-shadow: 0 4px 5.94px 0.06px rgba(0, 0, 0, 0.13);
    height: auto;
    left: 0;
    margin: 0 auto;
    padding: 25px;
    position: fixed;
    right: 0;
    top: 20%;
    width: 750px;
}
.newsletter-popup-top {
    float: right;
    margin: 55px auto 0 20px;
    overflow: visible;
    padding: 0 0 50px;
    width: 290px;
}
.newsletter-popup-top .btn-default, .newsletter-popup-top .btn-default:hover {
    border: 0;
    transition: all 0.5s ease 0s;
    padding: 10px 18px;
    margin: 20px 0 0;
    float: left;
}
.newsletter-popup-top .popup-desc {
    padding: 20px 20px;
    margin: 0px;
    color: #000000;
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
    border-top: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    margin-bottom: 30px;
    line-height: 17px;
    text-align: left;
    clear: left;
}
.newsletter-popup-top .popup-desc span {
    font-weight: bold;
}
.newsletter-popup-top input {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #fff;
    box-shadow: none;
    box-sizing: border-box;
    color: #333;
    font-size: 14px;
    margin: 0;
    padding: 5px 18px;
    width: 100%;
}

#xout {
    color: #000;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    height: 30px;
    position: absolute;
    right: 0;
    top: 10px;
    width: 30px;
}
#xout:hover {
    color: #555;
}
#checkme {
    margin: 20px 5px 0 0;
    width: 20px;
}
label.checkme {
    clear: left;
    display: block;
    float: left;
    color: #e40001;
    font-weight: normal;
}

/* ----------------------------------------------
		HEADER
	2.1 Header
----------------------------------------------- */


/* ===== Header top Style ===== */

.header-top {
    font-size: 13px;
    color: #9E9E9E;
    font-weight: 500;
}
.header-top a {
    color: #9E9E9E;
}
.header-top-left, .header-top-right {
    margin: 8px 0;
    color: #9E9E9E;
}
.header-top-left li, .header-top-right li {
    display: inline;
    cursor: pointer;
}
.header-top-left>li, .header-top-right>li {
    padding: 0 10px;
    line-height: 11px;
}

.header-top-right>li:last-child {
    padding: 0 0 0 20px;
}

.header-top-left .contact {
    text-transform: uppercase;
}
.header-top-left .contact>a {
    color: #e40001;
    font-size: 14px;
    font-weight: 700;
}
.header-top-left .contact>a:hover,
.header-top-left .contact>a:focus {
    color: #000;
}
.header-top-left .contact span {
    color: #9E9E9E;
    padding-left: 5px;
}
.header-top-left .contact>a::before {
    content: "\f025";
    font-family: fontawesome;
    font-size: 18px;
    padding-right: 9px;
    vertical-align: -1px;
}
.header{
    background: #fff;
    box-shadow: 1px 1px 13px #e6ebf0;
    position: relative;
}
.shopcart {
    position: absolute;
    right: 32px;
    bottom: -55px;
    z-index: 1;
}
.w-100{width: 60%;}
.profile-dropdown .dropdown-toggle {
    background: #f4f5f7;
    color: #000;
    font-weight: 600;
    text-transform: capitalize;
    border: 0px;
    font-size: 13px;
    border-radius: 4px 4px;
    padding: 8px 21px;
    letter-spacing: 0.3px;
}
.profile-dropdown { margin-top: 18px; }
/* ----------------------------------------------
	2.2 Navbar
----------------------------------------------- */

.navbar {
    border-radius: 0;
    border: 0;
    margin: 5px 0px;
    padding:3px 20px;
    background: none;
    color: #FFF;
}
.navbar-header {
    text-align: center;
}
.navbar-brand {
    padding: 16px 0;
    display: inline-block;
    float: none;
}
.navbar > p {
    float: left;
    font-size: 16px;
    font-weight: 600;
    margin-top: 12px;
    text-transform: uppercase;
    display: none;
}
.navbar-header .navbar-brand {
    height: 50px;
}
.header.navbar, #category-menu.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* ----------------------------------------------
	2.3 megamenu
----------------------------------------------- */

.navbar-toggle {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    margin: 10px 0 0;
    position: relative;
    padding: 0;
}

.navbar-nav>li>a {
    font-weight: 500;
}
.mega-dropdown {
    position: static !important;
}
.mega-dropdown:hover .mega-dropdown-menu {
    display: block;
}
.mega-dropdown-menu {
    padding: 10px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu>li>ul {
    padding: 0;
    margin: 0;
}
.mega-dropdown-menu>li>ul>li {
    list-style: none;
}
.mega-dropdown-menu>li>ul>li>a {
    display: block;
    padding: 5px 20px;
    clear: both;
    color: #989292;
    font-weight: 500;
    white-space: normal;
}
.mega-dropdown-menu>li ul>li>a:hover, .mega-dropdown-menu>li ul>li>a:focus {
    text-decoration: none;
    color: #ffff;
    background-color: #29559a;
}
.mega-dropdown-menu .dropdown-header {
    color: #404040;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}
.mega-dropdown-menu form {
    margin: 3px 20px;
}
.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}
.navbar-nav > li{
    float: none;
    display: inline-block;
}
.navbar-collapse{
    background: none;
}
#menu{
    height:50px;
    text-align: right;
    width: 100%;
}
#menu>li>a {
    padding: 20px 5px;
    border-radius: 0;
    overflow: hidden;
    color: #555;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}
#menu>li>a:hover, #menu>li>a:focus {
    background-color: #fff;
    color: #000;
}
#menu .mega-dropdown:hover>a, #menu .mega-dropdown>a:hover, #menu .mega-dropdown>a:focus, #menu .dropdown:hover>a {
    background-color: #fff;
    color: #000;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: #e40001;
    color: #fff;
}
#menu>li>a::before {
    background: #e40001 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleY(0);
    transform-origin: 0 0 0;
    transition-duration: 0.3s;
    z-index: -1;
}
#menu .mega-dropdown:hover a::before, #menu>li:hover>a::before, #menu>li:focus>a::before {
    transform: scaleY(1);
}

#menu .dropdown:hover .dropdown-menu {
    display: block;
    width: 100%;
}
#menu .dropdown-menu {
    min-width: 239px;
    max-width: 164px;
    margin: auto;
    left: 36em;
    right: 0;
}
#menu .dropdown-menu>li>a {
    padding: 8px 15px;
}
#myCarousel {
    border: 5px solid #ffffff;
    margin-right: 20px;
}

/* ----------------------------------------------
	2.4 Search
----------------------------------------------- */

.main-search {
    margin-bottom: 0;
    background:none;
    width: 100%;
    position: relative;
}
.main-search .input-lg {
    height: 37px;
    line-height: 11px;
    padding: 0 39px 0 45px;
    border: none;
    border-radius: 6px 6px;
    background-color: #f4f5f7;
    font-weight: 400
}
.main-search .btn-lg {
    font-size: 16px;
    line-height: 18px;
    padding: 8px 13px;
    margin: 0;
    border: none;
    color: #192e3f;
    background-color: transparent;
}
.main-search .btn-lg i {
    font-size: 16px;
    color: #555;
}
.main-search .btn-lg:hover i {
    color: #555;
}
.main-search .input-group-btn {
    display: block;
    height: 33px;
    position: absolute;
    left: 0;
    top: 1px;
    width: 40px;
}
@media only screen and (max-width: 776px) {
    .search-overlay form button {
        height: 60px;
    }
    .search-overlay form input {
        height: 60px;
        font-size: 30px;
        padding: 10px 45px 10px 0px;
    }
    .search-overlay form {
        margin-top: -47px;
    }
}
.search-box input.input-text {
    border: 1px solid #CCC;
    width: 0;
    opacity: 0;
    padding: 6px;
    position: absolute;
    right: 0;
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}
#search-overlay-btn {
    background: transparent url("../images/sprite.png") no-repeat scroll -104px -549px;
    border: medium none;
    display: block;
    height: 20px;
    transition: all 0.5s ease 0s;
    width: 20px;
    margin: 3px 22px 0 0
}
#search-overlay-btn:hover {
    background-position: -104px -513px;
}
.header-search .search-box input {
    background-color: #fff;
}


/* ----------------------------------------------
	2.5 Cart
----------------------------------------------- */

#shippingcart {
    float: left;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-transform: capitalize;
    letter-spacing: 0.6px;
}
#cart-total {
    clear: none;
    float: left;
    margin: 0px 4px;
    text-transform: capitalize;
    font-weight: 600;
}
#cart>.btn {
    background: url(../images/sprite.png) no-repeat scroll;
    line-height: 20px;
    color: #000;
    font-weight: 600;
    padding: 0 0 0 48px;
    border: none;
    border-radius: 0;
    float: right;
    background-size: 97%;
    height: 37px;
    background-position: -4px -121px;
}
.btn:active, .btn.active{
    box-shadow: none;
}
/*#cart>.btn:hover {
    background-position: -15px -152px;
}*/
#cart.open>.btn {
    box-shadow: none;
    text-shadow: none;
}
#cart-dropdown {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e5e5e5;
    min-width: 285px;
    position: absolute;
    right: 0;
    top:90px;
    z-index: 3;
}
#cart-dropdown ul {
    padding: 20px;
    display: inline-table;
}
#cart-dropdown .product-name {
    min-width: 160px;
    padding-left: 10px !important;
}
#cart-dropdown .price {
    display: block;
    font-size: 14px;
}

#cart-dropdown .cart-qty {
    margin-top: 5px;
    padding: 5px 8px;
    width: 60px;
}
#cart-dropdown .table>tbody>tr>td {
    padding: 10px 0;
}

/* ----------------------------------------------
	2.6 Header bottom
----------------------------------------------- */

.header-bottom-left {
    background: #f2f2f2 none repeat scroll 0 0;
    padding: 15px 25px;
    position: absolute;
    width: 100%;
}
.header-bottom-left>li {
    border-bottom: 1px dashed #808080;
    padding: 10px 0;
}
.header-bottom-left li {
    display: block;
}
#category-menu-responsive {
    left: 0;
    padding: 0 15px;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.offers {
    padding: 12px 0px 12px 0;
    letter-spacing: 0;
    font-style: italic;
    color: #cbccc7;
}

.offers span {
    color: #fff;
    font-weight: 600;
    font-style: normal;
}
.offers i {
    color: #fff;
    font-size: 10px;
    margin: 0 10px 0 1px;
}
.menu-bar {
    display: inline-block;
    width: 100%;
}
.category {
    background: #e40001 none repeat scroll 0 0;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 15px;
    display: grid;
    cursor: pointer;
}
.category_text {
    float: left;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    line-height: 21px;
}
.i-bar {
    float: right;
    font-size: 21px;
    line-height: 1;
    color: #385499;
}
#category-menu-responsive .nav>li {
    margin: 0 20px;
    border-bottom: 1px dashed #ccc;
}
#category-menu, .main-navigation {
    background: #FFF;
    width: 100%;
    padding: 6px 0;
}
#category-menu-responsive .nav>li>a, #column-left .nav>li>a {
    padding: 10px 0px;
}
#category-menu-responsive .nav>li, #column-left .nav>li {
    border-bottom: 1px dashed #ccc;
}
#category-menu-responsive .nav>li:last-child, #column-left .nav>li:last-child {
    border: none;
}

/* ----------------------------------------------
	CONTANT
	3.1 Left column
----------------------------------------------- */

.left_banner {
    display: inline-block;
}
.left-cms {
    color: #000;
}
.feature-i-left h6 {
    text-transform: uppercase;
    font-weight: 600;
}

.feature-i-left:hover h6 {
    color: #e40001;
}
.left-cms ul>li {
    border-top: 3px solid #e5e5e5;
    padding-left: 20px;
    cursor: pointer;
}
.left-cms ul>li:last-child {
    border-bottom: 3px solid #e5e5e5;
}
input#amount {
    border: 0;
    color: #e40001;
    font-weight: 700;
    font-size: 16px;
    width: 140px;
}
.Shipping, .Order, .Save, .Safe {
    background: transparent url("../images/sprite.png") no-repeat scroll -127px 0px;
    overflow: hidden;
    height: 50px;
    width: 50px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}
.Order {
    background-position: -127px -120px
}
.Save {
    background-position: -127px -238px
}
.Safe {
    background-position: -128px -357px
}
.feature-i-left:hover .Shipping {
    background-position: 2px 0px
}
.feature-i-left:hover .Order {
    background-position: 2px -120px
}
.feature-i-left:hover .Save {
    background-position: 2px -238px
}
.feature-i-left:hover .Safe {
    background-position: 1px -357px
}
.Tags.left-sidebar-widget li {
    background: #f2f2f2 none repeat scroll 0 0;
    display: inline-block;
    margin-bottom: 5px;
    padding: 8px 17px;
}
.Tags.left-sidebar-widget li:hover {
    background: #e40001 none repeat scroll 0 0;
}
#left-blog .blog-item {
    display: inline-block;
}

.blog-category li {
    margin: 0 0 10px;
}
.blog-category a {
    color: #808080;
}
.blog-category a:hover {
    color: #000;
}

/* ----------------------------------------------
	3.2.1 main banner
----------------------------------------------- */

.main-banner .owl-dots {
    bottom: 20px;
    position: absolute;
    text-align: center;
    width: 100%;
}
.main-banner .owl-dot {
    display: inline-block;
}
.main-banner .owl-dot>span {
    background: rgba(0, 0, 0, 1) none repeat scroll 0 0;
    border: 2px solid #F1F1F3;
    border-radius: 50%;
    display: inline-block;
    height: 14px;
    margin: 4px;
    width: 14px;
}
.main-banner .owl-dot.active>span {
    background: rgba(0, 0, 0, 0.0) none repeat scroll 0 0;
    border: 2px solid #000;
    border-radius: 50%;
    display: inline-block;
    height: 14px;
    margin: 4px;
    width: 14px;
}

/* ----------------------------------------------
	3.2.2 CMS-Banner
----------------------------------------------- */

.banner {
    overflow: hidden;
}
.sub-img {
    position: relative;
}
.bannertext {
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    transition: all 0.5s ease 0s;
}
.bannertext>h2 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    color: #000;
    line-height: 1;
    transition: all 0.5s ease 0s;
}
.bannertext>p {
    font-size: 16px;
    color: #e40001;
}
.bannertext .cms_btn {
    opacity: 0;
}
.sub-hover {
    overflow: hidden;
    position: relative;
}
.sub-hover:hover img {
    transform: scale(1.1);
    transition: all 0.6s ease 0s;
}
.sub-hover:hover .cms_btn {
    opacity: 1;
    transition: all 0.5s ease 0s;
}
.sub-hover:hover .bannertext {
    top: 13%;
    transition: all 0.5s ease 0s;
}
.sub-hover:hover .bannertext> h2 {
    opacity: 0;
    transition: all 0.5s ease 0s;
}
.sub-hover:hover .bannertext>p {
    opacity: 0;
    transition: all 0.5s ease 0s;
}

/* ----------------------------------------------
	3.2.3 Home product
----------------------------------------------- */

.main_title {
    font-size: 20px;
    float: left;
    color: #000;
    font-weight: 600;
    text-transform: capitalize;
}
.main_title:after {
    border-bottom: 0px solid #e40001;
    content: "";
    display: block;
    margin-bottom: -3px;
    padding: 1px;
}
.heading-part {
    border-bottom: 2px solid #e5e5e5;
    display: inline-block;
    width: 100%;
    padding-bottom: 8px;
}
#product-tab {
    position: relative;
}
#product-tab .nav {
    position: absolute;
    right: 55px;
    top: 0;
}
#product-thumbnail .owl-nav {
    top: 38px;
    display: none;
}
#product-tab .owl-nav, .blog .owl-nav {
    right: 10px;
}
#product-thumbnail .owl-nav .owl-prev {
    left: 0;
}

/* ----------------------------------------------
	3.2.4 Breadcrumb
----------------------------------------------- */
.cart-table-data .product-name a {
    font-size: 21px;
    margin-bottom: 0px;
}
.breadcrumb {
    /*background-image: url("../images/breadcrumb.jpg");*/
    border-radius: 0;
    background:none;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    margin-bottom: 10px;
}
.breadcrumb li {
    display: inline-block;
}
.breadcrumb li.active {
    color: #000;
}
.breadcrumb h1 {
    color: #000;
    float: left;
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
}
.breadcrumb>ul {
    float: right;
}
.breadcrumb li {
    font-size: 16px;
    font-weight: 300;
}
.breadcrumb li::after {
    content: "/";
    display: inline-block;
    height: 15px;
    margin: 0;
    width: 30px;
    color: #808080;
}
.breadcrumb li:last-child::after {
    content: "";
    display: inline-block;
    height: 15px;
    margin: 0;
    width: auto;
}
.breadcrumb li a:hover {
    color: #e40001!important;
}
.box-product-cover {
    border-top: 1px solid #ececec;
    float: left;
}

/* ----------------------------------------------
	3.2.5 Blog
----------------------------------------------- */
.date-time {
    background: #fff none repeat scroll 0 0;
    color: #e40001;
    float: right;
    font-size: 12px;
    left: 10px;
    padding: 5px 10px;
    position: absolute;
    text-transform: uppercase;
    top: 10px;
    z-index: 9;
}
.blog .day {
    color: #000;
    font-family: "Josefin+Sans";
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
}
.box-holder {
    padding: 0 10px;
}
.post-type {
    background: rgba(255, 255, 255, 0.50) none repeat scroll 0 0;
    color: #000;
    cursor: default;
    font-size: 20px;
    height: 40px;
    left: 25px;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 40px;
}
.thumb.post-img {
    position: relative;
}
#Blog .post-info {
    display: inline-block;
    position: absolute;
    padding: 25px 30px;
    width: 100%;
}
#Blog .post-info h6 a {
    color: #e40001;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 17px;
}
#Blog .post-img:hover>a {
    opacity: 0.6;
}
#Blog .post-info > p {
    color: #fff;
}
.date .fa-calendar {
    margin-right: 10px;
}
.blog .thumb:hover .post-info {
    bottom: 0;
}
.view-blog {
    border-top: 1px dashed #ccc;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 12px;
}
.write-comment a, .read-more a{
    color: #fff;
}
.write-comment:hover a, .read-more:hover a{
    color: #a4a4a4;
}

.post-image-hover {
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.2s ease-out 0s;
    width: 100%;
}
.blog .thumb:hover .post-image-hover {
	background: rgba(0,0,0,0.7);
    transition: all 0.2s ease-out 0s;
}
/* ----------------------------------------------
	3.2.6 Single Blog
----------------------------------------------- */

article, .author {
    display: inline-block;
    width: 100%;
}
.author-avatar, .comment-avatar {
    float: left;
    margin-right: 20px;
    width: 80px;
}
.author-name {
    display: inline-block;
    margin-top: 0;
}
blockquote {
    border-color: #e40001;
}
.pb-3{ padding-top: 1.5rem; }
/* ----------------------------------------------
	3.2.7 Product + Category Page 
----------------------------------------------- */
.nArrivals .product-grid .item .product-thumb {
    box-shadow: 2px 2px 8px 2px #dce3ea;
    border-radius: 7px 7px;
}
#product-tab .product-thumb {
    margin: 10px 6px 10px;
}

.product-thumb {
    overflow: hidden;
}
.product-thumb a img+img {
    display: none;
}
.product-thumb:hover a img {
    display: none;
}
.product-thumb:hover a img+img {
    display: block;
}
.image.product-imageblock>a {
    background: #ffffff none repeat scroll 0 0;
    overflow: hidden;
}
.product-thumb .image {
    text-align: center;
    position: relative;
}
.product-thumb .image a {
    display: block;
}
.product-grid .product-thumb .image {
    float: none;
    height: 350px;
}
.product-grid .product-thumb .image img {
    height: 100% !important;
    width: 100%;
}
.caption.product-detail .product-name a {
    margin-bottom: 13px;
    font-size: 21px;
    color: #3c3a3a;
    font-weight: 600;
    display: block;
}
.caption.product-detail .price {
    color: #22559a;
    font-size: 32px;
    font-weight: 560;
}
.product-thumb .button-group .wishlist, .product-thumb .button-group .quickview, .product-thumb .button-group .compare, .product-thumb .button-group .add-to-cart {
    background: transparent url("../images/sprite.png") no-repeat scroll -13px -246px;
    overflow: hidden;
    height: 36px;
    width: 36px;
    text-align: center;
    cursor: pointer;
    margin: 6px 14px;
    border-radius: 3px 3px;
    transition: all 0.5s ease 0s;
    background-color: #eeeff3;
}
.product-thumb .button-group .quickview {
    background-position: -13px -333px;
}
.product-thumb .button-group .compare {
    background-position: -13px -289px;
}
.product-thumb .button-group .add-to-cart {
    background-position: -13px -200px;
}
.product-thumb .button-group .wishlist:hover {
    background-position: -147px -246px;
    background-color: #e40001;
}
.product-thumb .button-group .quickview:hover {
    background-position: -147px -333px;
    background-color: #e40001;
}
.product-thumb .button-group .compare:hover {
    background-position: -147px -289px;
    background-color: #e40001;
}
.product-thumb .button-group .add-to-cart:hover {
    background-position: -147px -200px;
    background-color: #22559a;
}
.product-thumb .button-group a {
    color: #22559a;
}

.product-thumb .button-group {
    top: 5px;
    opacity: 1;
    left: 0px;
    position: absolute;
    transition: all 0.6s ease 0s;
}
#product .button-group div{
    float: left;
}
.prodetail.product-thumb .button-group  {
    bottom: 0;
    position: relative;
    display: block;
    opacity: 1;
    left: 0;
}
.prodetail.product-thumb:hover .button-group  {
    left: 0px;

}
.product-thumb:hover .button-group {
    transition: all 0.6s ease 0s;
    opacity: 1;
    left: 6px;
}
.product-thumb .price {
    color: #000;
    display: inline-block;
    font: 700 20px/20px "Josefin+Sans";
    margin-top: 5px;
    vertical-align: middle;
}
.caption.product-detail {
    position: relative;
    margin-top: -60px;
    padding: 21px 23px;
    background: #ffff;
}
/*.product-thumb .button-group span {
    display: none;
}*/
.add-to-cart {
    background: none !important;
    width: auto !important;
    text-align: right;
}
.add-to-cart a {
    background: #22559a;
    color: #fff !important;
    padding: 6px 23px;
    border-radius: 4px 4px;
    display: inline-block;
    margin-top: 16px;
}
.nArrivals .owl-item {
    width: 100%;
    max-width: 25%;
    float: left;
}
.category-page-wrapper {
    border: 1px solid #e6e6e6;
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.product-grid .product-desc {
    display: none;
}
.btn.btn-default.grid-view {
    background: rgba(0, 0, 0, 0) url("../images/sprite.png") no-repeat scroll -146px -399px;
}
.btn.btn-default.grid-view.active {
    background: rgba(0, 0, 0, 0) url("../images/sprite.png") no-repeat scroll -146px -372px;
}
.product-layout-right .product-list .product-thumb .image, .product-layout-left .product-list .product-thumb .image {
    margin: 0;
}
.product-layout-left, .product-layout-right {
    display: inline-block;
}
.product-list .product-thumb .image {
    background: #f5f5f5 none repeat scroll 0 0;
    float: left;
    margin: 0 20px 0 0;
    width: 32%;
}
.product-list .product-thumb .caption {
    float: left;
    margin: 0 0 0 15 px;
    padding: 0;
    text-align: left;
    width: 65%;
}
.col_3r .product-list .product-thumb .caption, .col_3l .product-list .product-thumb .caption {
    width: 40%;
}
.col_4 .product-list .product-thumb .caption {
    width: 70%;
}
.Specials .product-list .product-thumb .button-group {
    bottom: 75px;
}
.product-list .product-thumb .button-group {
    display: block;
    transition: all 0.6s ease 0s;
    bottom: 0px;
    text-align: left;
}
.product-list .product-desc {
    display: block;
}
.btn.btn-default.list-view {
    background: rgba(0, 0, 0, 0) url("../images/sprite.png") no-repeat scroll -180px -399px;
}
.btn.btn-default.list-view.active {
    background: rgba(0, 0, 0, 0) url("../images/sprite.png") no-repeat scroll -180px -372px;
}
.btn.btn-default.list-view, .btn.btn-default.grid-view {
    padding: 12px;
    border: none;
    box-shadow: none;
    outline: none;
    z-index: 0;
    margin: 0 10px 0 0;
}
.control-label {
    float: left;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0px;
}
.sort-inner, .limit {
    float: left;
}
.list-grid-wrapper,.page-wrapper ,.sort-wrapper{
    padding: 10px;
}
.sort-inner .form-control, .limit .form-control {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    box-shadow: none;
    height: auto;
    padding: 0px;
}
.pagination-nav ul li a {
    background-color: #f7f7f7;
    color: #808080;
    display: block;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    width: 36px;
}
.pagination-nav ul li.active a {
    background: #e40001 none repeat scroll 0 0;
    color: #fff;
}
.pagination-nav ul li {
    display: inline-block;
    margin: 0 2px;
}
.rating {
    line-height: 1;
    margin: 15px 0 10px;
}
.fa-stack {
    height: 12px;
    line-height: 1;
    width: 10px;
}
.fa-stack-1x, .fa-stack-x {
    font-size: 13px;
}
.fa.fa-star-o.fa-stack-1x, .fa.fa-star.fa-stack-x {
    color: #b2b2b2;
}
.fa.fa-star.fa-stack-1x {
    color: #e40001;
}

/* =====  left sidebar css  ===== */

.left-special.left-sidebar-widget li {
    display: inline-block;
}
#left-special .product-list .product-thumb .image, #bests-pro .product-list .product-thumb .image, #featu-pro .product-list .product-thumb .image, #new-pro .product-list .product-thumb .image {
    width: auto;
}
.list-group-item {
    background-color: transparent;
    border: 0 none;
    border-radius: 0;
    overflow: hidden;
    padding: 0px;
}

/* ----------------------------------------------
	3.2.8 Client
----------------------------------------------- */

#client .type-01 {
    margin: 0 20px;
}

.client-title {
    text-transform: uppercase;
}
.client-detail p {
    color: #fff;
    margin-right: 20px;
}
.client .type-01 h2 {
    margin-left: 30px;
    margin-right: 30px;
}
.client .fa.fa-quote-left {
    margin-right: 10px;
    font-size: 14px;
    color: #fff;
}
.client-avatar {
    float: left;
    height: 100px;
    width: 100px;
    margin-right: 30px;

}
.client-title, .client-designation {
    color: #fff;
    display: inline-block;
    margin-top: 5px;
}
.client-designation {
    color: #e40001;
}
/* ----------------------------------------------
	3.2.9 Owl nav
----------------------------------------------- */

.owl-nav {
    position: absolute;
    top: -10px;
    width: 100%;
    display: none;
}

.offers .owl-nav {
    position: absolute;
    right: 0px;
    top: 11px;
    width: 100%;
}
.breadcrumb .back-btn i {
    background: #abc8f1;
    color: #22559a;
    padding: 2px;
    margin-right: 10px;
    font-size: 14px;
}
.breadcrumb .back-btn {
    font-size: 18px;
    font-weight: 600;
    color: #000;
}

.related-pro .owl-nav, .team_grid .owl-nav {
    position: absolute;
    right: 10px;
    top: -55px;
    width: 100%;
}
.owl-nav>div {
    background: rgba(0,0,0,0) url("../images/sprite.png") no-repeat scroll -34px -374px;
    height: 23px;
    width: 17px;
    font-size: 0px;
    position: absolute;
    transition: 0.5s;
}
.owl-nav>div:hover {
    border-color: #e40001;
}
.owl-item .client-avatar>img {
    border-radius: 50%;
    width: auto !important;
}
.owl-nav .owl-prev {
    background-position: -6px -374px;
    opacity: 1;
    right: 33px;
}

.owl-nav .owl-prev:hover {
    background-position: -6px -402px;
    transition: 0.5s;
}
.owl-nav .owl-next {
    left: auto;
    opacity: 1;
    right: 0;
}
.owl-nav .owl-next:hover {
    background-position: -34px -402px;
    transition: 0.5s;
}
.client .owl-dots {
    right: 0;
    position: absolute;
    text-align: center;
	bottom: 15px;
}
.client .owl-dot {
    display: block;
    line-height: 1;
}
.client .owl-dot>span {
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
    border: 2px solid #fff;
    border-radius: 50%;
    display: inline-block;
    height: 14px;
    margin: 4px;
    width: 14px;
}
.client .owl-dot.active>span {
    background: rgba(0, 0, 0, 0.0) none repeat scroll 0 0;
    border: 2px solid #e40001;
    border-radius: 50%;
    display: inline-block;
    height: 14px;
    margin: 4px;
    width: 14px;
}

/* ----------------------------------------------
	3.2.10 About
----------------------------------------------- */

.about-heading {
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 2px solid #000;
    display: inline-block;
}
.about-heading span {
    font-weight: 300;
}
.about-text>p::first-letter {
    font-size: 18px;
    color: #000;
}

/* ----------------------------------------------
	3.2.11 Team
----------------------------------------------- */

.team-detail {
    padding: 0 10px;
}
.team-designation, .team-title {
    text-transform: uppercase;
}
.team .social>li, .team_grid .social>li {
    background: #dfdfdf none repeat scroll 0 0;
    display: inline-block;
    height: 40px;
    width: 40px;
}
.team .social>li:hover a, .team_grid .social>li:hover a {
    color: #000;
}
.social li a i {
    margin: 12px;
}
.team-detail .team-item-img {
    filter: grayscale(100%);
}
.team-detail:hover .team-item-img {
    filter: grayscale(0%);
}
.team_grid.col4 .social>li, .team4col .social>li {
    background: none;
    margin: 0 5px;
    height: 20px;
    width: 20px;
}
.col4 .social li a i {
    margin: 5px;
}

/* ----------------------------------------------
	3.2.12 Contact
----------------------------------------------- */

.contact .fa {
    margin-right: 10px;
}

/* ----------------------------------------------
	3.2.13 Shop Page
----------------------------------------------- */

a.thumbnails {
    border: 0px solid #ddd;
    display: block;
}
.border-0{border: 0px !important;}
.border-left { border-left: 2px solid #ececec; }
.border-right { border-right: 2px solid #ececec; }
a.thumbnail {
    border-radius: 0px;
    margin: 10px 5px;
}
a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
    border-color: #000;
}

.price .price-tax {
    margin-left: 10px;
}
.related-pro .product-thumb {
    margin: 0 10px 10px;
}
.price {
    color: #22559a;
    font-size: 37px;
}
.pro-title {
    font-weight: 600;
    font-size: 19px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 9px;
    margin-bottom: 20px;
}
.size-filter li {
    display: inline-block;
    margin: 0px 3px;
}
.size-filter li button {
    background: #f1f1f1;
    width: 36px;
    text-align: center;
    border: 0px;
    border-radius: 4px 4px;
    padding: 4px;
    color: #22559a;
}
.box-product-cover .product-name a {
    font-size: 28px;
    width: 100%;
    margin-bottom: 29px;
    font-weight: 600;
    color: #000;
    float: left;
    line-height: 1.3;
    padding-right: 1em;
}
.color-filter li {
    display: inline-block;
    margin: 0px 3px;
}
.color-filter li button {
    background: none;
    border: 0px;
    border-radius: 50% 50%;
    font-size: 0px;
    width: 36px;
    height: 36px;
}
#product .add-to-cart a {
    background: #22559a;
    width: 100%;
    display: block;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px 6px;
}
.product-details .panel-heading {
    padding: 0px 0px 9px;
}
.product-details .panel-body, .product-details .panel-body p {
    color: #000;
    font-size: 13px;
}
.product-details .panel-body {
    padding: 7px 0px 8px;
}
.product-details .panel-body h6 {
    font-size: 11px;
    letter-spacing: 0px;
    font-weight: 500;
    color: #000;
}
.qty-minus {
    display: inline-flex;
    margin-left: 8px;
}
.qty-minus .sub, .qty-minus .add {
    background: #f1f1f1;
    border: 0px;
    color: #22559a;
    font-size: 21px;
    width: 28px !important;
    box-shadow: 0px 0px;
    outline: none;
    height: 28px;
    border-radius: 3px 3px;
}
.qty-minus input[type="number"] {
    background: none;
    border: 0px;
    height: 30px;
    font-size: 18px;
    width: 60px;
    max-width: 100%;
    color: #22559a;
    min-width: auto;
}
.product-details .panel-body h6 span {
    color: #22559a;
}
.category-list li {
    font-size: 11px;
    letter-spacing: 0px;
    color: #000;
    font-weight: 500;
}
.category-list li span {
    color: #22559a;
}
.order-title {
    font-weight: 600;
    letter-spacing: 0px;
    font-size: 16px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.border-bottom {
    border-bottom: 1px solid #eee;
}
.product-summary {
    float: left;
    padding: 10px 3px;
}
.product-summary img {
    border-radius: 6px 6px;
    box-shadow: 1px 1px 10px #e0e0e0;
}
.product-summary h5 {
    color: #000;
    letter-spacing: 0px;
    font-weight: 600;
    font-size: 19px;
    margin-bottom: 18px;
    margin-top: 6px;
}
.product-summary .sm-price {
    color: #22559a;
    font-size: 18px;
}
.product-summary p {
    color: #c5c5c5;
    font-size: 12px;
    display: inline-block;
    padding: 0px 3px;
}
.product-summary p span { color: #22559a; }
.product-summary .del-btn {
    background: #22559a;
    text-transform: capitalize;
    font-size: 12px;
    padding: 5px 16px;
    border-radius: 5px 5px;
    margin-top: 12px;
}
.total-checkout {
    border-top: 1px solid #e0e0e0;
    float: left;
    border-bottom: 1px solid #e0e0e0;
    padding: 16px 0px;
    margin-top: 19px;
}
.total-checkout h5 {
    font-size: 13px;
    color: #000;
    letter-spacing: 0px;
    font-weight: 600;
    padding: 5px 0;
}
.total-checkout h5 span {
    color: #22559a;
}
.total-amount {
    float: left;
    padding: 20px 0px;
}
.total-amount h3 {
    font-weight: 600;
    font-size: 21px;
    letter-spacing: 0px;
    color: #000;
}
.total-amount h3 span {
    float: right;
    color: #22559a;
}

/* ----------------------------------------------
	3.2.14 Login & register
----------------------------------------------- */

#register-form {
    display: none;
}

/* ----------------------------------------------
	3.2.15 Map
----------------------------------------------- */

.map_right #map {
    height: 530px;
}
#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}

/* ----------------------------------------------
	3.2.16 Brand
----------------------------------------------- */

.brand a img{
    opacity: 0.4;
}
.brand a:hover img{
    opacity: 1;
}

/* ----------------------------------------------
	FOOTER
	4.1 Footer General
----------------------------------------------- */
.footer-top {
    float: left;
    width: 100%;
	border-bottom: 1px solid #666;
}
.footer {
    background: #121212;
}
.footer-title, .footer h6 {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}
.footer-logo {
    float: left;
    padding: 35px 20px 35px 0px;
}
.footer-logo a img {
    transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
}
.footer-logo a:hover img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.3;
}
.footer-desc {
    color: #fff;
    font-weight: 300;
    line-height: 24px;
    padding: 25px 10px 0;
}
.footer-link li {
    display: inline-block;
}
.footer-link li a {
    border-left: 1px solid #808080;
    padding: 0 10px;
    display: inline-block;
    line-height: 1;
}
.footer-block li {
    padding: 5px 0;
    color: #fff;
}
.footer-block a {
    color: #fff;
}
.footer-block a:hover {
    color: #e40001;
}
.footer .form-group>input {
    width: 100%;
}
.social-icon ul li a {
    border: 2px solid #afafaf;
    border-radius: 50%;
    color: #afafaf;
    display: block;
    font-size: 20px;
    height: 36px;
    padding: 4px 8px;
    width: 36px;
}
.social_icon li {
    display: inline-block;
    height: 36px;
    width: 36px;
    border: 2px solid #afafaf;
    border-radius: 50%;
    color: #afafaf;
    text-align: center;
     padding: 4px;
}
.social_icon ul li i.fa {
    background-color: transparent;
    font-size: 14px;
    transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
}
.social_icon ul li a i.fa:hover {
    color: #000;
}
.footer-bottom {
    background: #FFFFFF;
    color: #808080;
}
.copyright-part{
    margin: 6px 0;
}
.payment-icon li {
    display: inline-block;
    font-size: 30px;
    color: #a5a5a5;
}

/* ----------------------------------------------
	4.2 Scrollup
----------------------------------------------- */

#scrollup::before {
    background: #e40001 none repeat scroll 0 0;
    bottom: 20px;
    color: #fff;
    content: "\f106";
    font-family: fontawesome;
    font-size: 25px;
    height: 40px;
    padding: 6px 12px;
    position: fixed;
    right: 20px;
    width: 40px;
    z-index: 99;
}



/* =====  RESPONSIVE CSS START  =====*/

@media (max-width:1199px) {
    .four-col-work .grid-item {
        width: 33.33%;
    }
    .product-list .product-thumb .button-group {
        bottom: 0;
    }
    .product-layout.product-list .image.product-imageblock {
        width: 46%;
    }
    .product-list .product-thumb .caption {
        width: 50%;
    }
    .newsletters input {
        width:280px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .about-title {
        font-size: 40px;
        line-height: 55px;
    }
}

/*----------------------------------*/

@media (max-width:991px) {

    .mega-dropdown-menu .carousel.slide {
        display: none;
    }
    .mega-dropdown-menu{
        padding: 25px 0;
    }
    .bannertext>h2 {
        font-size: 20px;
    }
    .product-list .product-thumb .caption {
        width: 100%;
        margin-top: 20px;
    }

    .toggle.active .toggle_div::before {
        color: #fff;
        content: "\f055";
        font-family: "FontAwesome";
        font-size: 22px;
        padding: 0;
        position: absolute;
        right: 0;
    }
    .toggle .toggle_div::before {
        color: #fff;
        content: "\f056";
        font-family: "FontAwesome";
        font-size: 22px;
        padding: 0;
        position: absolute;
        right: 0;
    }
    #product-tab .owl-nav {
        top: -79px;
    }
    #product-tab .nav {
        right: auto;
        top: 47px;
    }
    #product-tab .heading-part {
        margin-bottom: 40px;
    }
    .newsletters input {
        width:210px;
    }
    .newsletters button {
        width:140px;
    }
    .footer-logo, .client-avatar{
        float: none;
    }

    .footer-block ul {
        display: none;
    }
    .footer .form-group>input {
        float: left;
    }
    .footer .form-group .btn {
        float: left;
        margin-left: 15px;
        padding: 10px 20px;
    }
    .footer .form-group>input {
        width: 280px;
    }

    .footer-title {
        cursor: pointer;
        position: relative;
    }
}

/*-----------------------------------*/

@media (max-width: 767px) {
    
    .header-top-left, .header-top-right {
        text-align: center;
    }
    .main-search{
        width: auto;
        margin-top: 80px;
    }
    .navbar-brand{
        width: 70%;
    }
    .navbar-nav > li{
    display:block;
    }
    .navbar > p {
        display: block;
    }
    #menu{
        height:auto;
        text-align: left;
    }
    .navbar-collapse {
        width: 100%;
        position: absolute;
        z-index: 1;
        background: rgba(0, 0, 0, 0.92);
        top: 50px;
        left: 0;
    }
    .navbar-left, .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        z-index:3;
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .mega-dropdown-menu, #menu .dropdown-menu {
        position: relative;
        width: 100%;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #menu > li > a{
        padding: 10px 18px;
    }
    .collapse.in {
        display: block !important;
    }
    .main-banner .owl-dots {
        bottom: 0;
    }
    #category-menu-responsive {
        display: none;
    }
    #category-menu {
        display: none !important;
    }
    .left_banner {
        display: none;
    }
    .three-col-work .grid-item, .three-col-blog .blog-item, .two-col-work .grid-item, .two-col-blog .blog-item, .four-col-work .grid-item {
        width: 100%;
    }
    .product-thumb .button-group {
        bottom: -21px;
        left: 0;
        opacity: 0;
        right: 0;
        top: auto;
        transition: all 0.6s ease 0s;
    }
    .product-thumb:hover .button-group{
        left: 0;
        right: 0;
    }
    .product-thumb .button-group .wishlist, .product-thumb .button-group .quickview, .product-thumb .button-group .compare, .product-thumb .button-group .add-to-cart{
        display: inline-block;
        height: 34px;
        margin: -1px;
        width: 34px;
    }
    .caption.product-detail{
        margin-top: 25px;
    }
    #Blog .post-info{
        position: relative;
    }
    #Blog .post-info > p, .write-comment a, .read-more a{
        color: #494b4c;

    }
    .blog .thumb:hover .post-image-hover{
        background:transparent;
    }
    .view-blog{
        border-color: #ccc; 
    }
    .newsletter-popup-top {
        width: 50%;
        margin: 0;
        padding: 0;
    }
    .newsletter-popup-top .popup-desc {
        padding: 10px 0;
    }
    .offer {
        width: 45%;
        float: left;
    }
    .newsletter-popup .popup-title span {
        margin-left: 0;
    }
    .newsletter-popup .popup-title {
        font-size: 50px;
    }
    .newsletter-popup {
        margin: 30px;
        width: auto;
    }
    .newsletters div.news-form.pull-right {
        float: left !important;
        margin: 10px 0 0;
    }
    .newsletters input {
        width:auto;
    }
    .Testimonial {
        margin-top: 50px;
    }
    .payment-icon, .copyright-part, .social_icon {
        text-align: center;
    }
    .copyright-part{
        margin: 10px 0;
    }
}

/*-----------------------------------*/

@media (max-width:650px) {
    .logo {
        margin-left: 50px;
    }
    .logo a {
        padding: 10px 0 10px 10px;
    }
    .cms_banner>div {
        width: 100%;
        margin: 0;
    }

    #subbanner1, #subbanner2, #subbanner4, #subbanner5 {
        float: left;
        margin: 10px;
        width: 45%;
    }
    .shopcart {
    position: relative;
    bottom: 0;
    width: 100%;
    }
}

/*-----------------------------------*/

@media (max-width:480px) {
    .navbar {
    background: #2f64a9;
}
    .navbar-header,.shopcart {
        text-align: left;
        margin-left: 25px;
    }
    .navbar-brand, .header-right {
        width: 100%;
    }
    .navbar-brand>img {
        display: inline-block;
    }
    #cart > .btn{
        float: none;
    }
    .navbar-header {
        margin: 0;
    }
    .header-right.pull-right.mtb_50 {
        margin: 0 0 20px;
    }
    #subbanner1, #subbanner2, #subbanner4, #subbanner5{
        width: auto;
    }

    .bannertext>h2 {
        font-size: 16px;
    }
    .bannertext>p {
        font-size: 14px;
        line-height: 1;
    }

    .product-layout.product-list .image.product-imageblock {
        width: 100%;
    }
    .category-page-wrapper>div {
        width: 100%;
    }
    .footer .form-group .btn {
        float: none;
        margin-left: 0;
    }
    .newsletter-popup {
        padding: 25px;
    }
    .offer {
        display: none;
    }
    .newsletter-popup .popup-title span {
        margin: 0;
    }
    .newsletter-popup .popup-title {
        font-size: 40px;
    }
    .newsletter-popup-top .popup-desc, .newsletter-popup {
        text-align: center;
    }
    .newsletter-popup-top .btn-default, .newsletter-popup-top .btn-default:hover, label.checkme, .newsletter-popup-top,
    .newsletter-popup .popup-title {
        float: none;
    }
    .newsletter-popup-top {
        width: auto;
        margin: 0;
        padding: 0;
    }
    .newsletters input {
        width: 310px;
    }
}

@media (max-width:360px) {
    .header-top-left li, .header-top-right li {
        padding: 0 10px;
    }
    .nav>li>a {
        padding: 6px;
    }
    .newsletters input {
    width: 150px;
    }
}
    /* =====  END RESPONSIVE CSS  =====*/

    .user-account {
        float:left;
        width:110px;
        box-sizing:border-box;
        position:relative;
    }
    .user-account-info {
        float:left;
        width:100%;
        margin:0 5px 0 0;
        position:relative;
    }
    .user-account-info:hover {
        float:left;
        width:100%;
        margin:0 5px 0 0;
        position:relative;
        cursor: pointer;
        background-color: #f5f5f5;
        border-radius: 100px;
    }
    .user-info {
        float:left;
        width:100%;
        padding:5px;
        position:relative;
        cursor: pointer;
    }
    .user-account-settingss{
        position:absolute;
        opacity:1;
        visibility:visible;
        z-index:999;
        display:none;
        top:100%;
        right:-20px;
        width:180px;
        background-color:#fff;
        border-left:1px solid #e5e5e5;
        border-bottom:1px solid #e5e5e5;
        border-right:1px solid #e5e5e5;
        -webkit-border-radius:0 0 5px 5px;
        -moz-border-radius:0 0 5px 5px;
        -ms-border-radius:0 0 5px 5px;
        -o-border-radius:0 0 5px 5px;
        border-radius:0 0 5px 5px;
        -webkit-box-shadow:0 0 4px rgba(0,0,0,.28);
        -moz-box-shadow:0 0 4px rgba(0,0,0,.28);
        -ms-box-shadow:0 0 4px  rgba(0,0,0,.28);
        -o-box-shadow:0 0 4px rgba(0,0,0,.28);
        box-shadow:0 0 4px rgba(0,0,0,.28)
    }
    .user-account-settingss.active{
        opacity:1;
        visibility:visible;
        z-index:9999;
    }
    .user-account-settingss>h3{
        color:#000;
        font-size:14px;
        font-weight:600;
        float:left;
        width:100%;
        border-bottom:1px solid #e5e5e5;
        padding:15px 20px;
    }
    .user-account-info img{
        -webkit-border-radius:100px;
        -moz-border-radius:100px;
        -ms-border-radius:100px;
        -o-border-radius:100px;
        border-radius:100px;
        margin-right:100px;
    }
    .user-account-info>h6{
        text-transform:capitalize;
        position:absolute;
        top:57%;
        right: 10px;
        color:#555;
        font-size:13px;
        -webkit-transform:translateY(-50%);
        -moz-transform:translateY(-50%);
        -ms-transform:translateY(-50%);
        -o-transform:translateY(-50%);
        transform:translateY(-50%)
    }
    .user-info>i{
        background-color:#f5f5f5;
        border-radius:100px;
        padding:10px;
        position:absolute;
        top:-17px;
        left:114px;
        color:#000;
        font-size:10px;
        -webkit-transform:translateY(-50%);
        -moz-transform:translateY(-50%);
        -ms-transform:translateY(-50%);
        -o-transform:translateY(-50%);
        transform:translateY(-50%);
    }
    .menu-btn{
        float:right;
        display:none;
    }
    .menu-btn a{
        font-size:24px;
        color:#385499;
        display:inline-block;
        padding-top:16px;
        padding-left:25px;
    }