/*
    DEMO STYLE
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
body {
    background: #fafafa;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}


#Sidebar-first {
    min-width: 250px;
    max-width: 250px;
    background: #f7f7f7 !important;
    border-right: solid 1px #eaeaea;
    color: #00aff0 !important;
    color: #fff;
    transition: all 0.3s;
}

#Sidebar-first.active {
    min-width: 48px;
    max-width: 48px;
    text-align: center;
}

#Sidebar-first.active .Sidebar-first-header h3,
#Sidebar-first.active .CTAs {
    display: none;
}

#Sidebar-first.active .Sidebar-first-header strong {
    display: block;
}

#Sidebar-first ul li a {
    text-align: left;
}

#Sidebar-first.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#Sidebar-first ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
    color: #22559a !important;
}

#Sidebar-first.active ul ul a {
    padding: 10px !important;
}

#Sidebar-first.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#Sidebar-first .Sidebar-first-header {
    padding: 15px;
    background: #f7f7f7;
}

#Sidebar-first .Sidebar-first-header strong {
    display: none;
    font-size: 15px;
}

#Sidebar-first ul.components {
    padding: 115px 0 0;
}
#Sidebar-first ul li {
    padding: 0 !important;
}
#Sidebar-first ul li a {
    padding: 0 !important;
    font-size: 1.1em;
    display: block;
}

#Sidebar-first ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#Sidebar-first ul li.active>a,
a[aria-expanded="true"] {
    color: #00aff0;
    background: #ffffff;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

.list-group-item-title
{
    text-transform: capitalize !important;
    padding: 5px !important;
    text-align: left;
    background-color: #9aa8cb;
    color: #fff !important;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper-chat {
    position: fixed;
    display: flex;
    width: 100%;
    align-items: stretch;
    /* overflow: hidden; */
}

#sidebar {
    min-width: 300px;
    max-width: 300px;
    background-color: #f7f7f7;
    border-right: 1px solid #d4d4d4;
    z-index: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 0;
    height: 600px;
    overflow-y: scroll !important;
}

.list-group
{
    height: 500px;
    overflow-y: auto !important;
    overflow-x: hidden !important; ;
}
#sidebar ul.components::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
#sidebar ul.components {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
#sidebar ul.components li {
    padding: 0;
    display: block;
}
/* #sidebar ul p {
    color: #fff;
    padding: 10px;
} */

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    border: 0!important;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* Chat */
.top {
    padding: 10px 10px;
    height: 45px;
    line-height: 2;
    display: flex;
    justify-content: space-between;
}
.top p {
    color: #2d2d2d;
    font-size: 18px;
    text-transform: capitalize;
    margin: 0;
    padding-left: 16px;
}
.top a {
    color: #22559a !important;
}
.top-icons a:first-child {
    margin-right: 3px;
}
.search-box {
    height: 48px;
    position: relative;
    background-color: #e6ebf5!important;
    border-bottom: 1px solid #e6e6e6;
    padding: 0 !important;
}
@media screen and (max-width: 1029px) and (min-width:992px) {
    .search-box {
        width: 90% !important;
    }
}
.header-group-edit input.form-control {
    display: block;
    background-color: #f7f7f7;
    padding: 0;
    margin: 12px 16px;
    width: 100%;
    height: 24px;
    text-align: center;
    border-radius: 4px;
    font-size: 12px;
    color: #626f82;
    line-height: 1.83;
    border: none;
}
input.form-control {
    display: block;
    padding: 5px 10px;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #dcdcdc;
    font-size: 14px;
    color: #626f82;
    line-height: 1.83;
}
.info-message p {
    text-align: center;
    font-size: 13px;
    line-height: 1.5;
    margin: 15px;
    color: #000;
}
.list-group-item {
    padding: 0 !important;
}
.list-group-item.active {
    background-color:  transparent !important;
}
.list-group-item:first-child {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.list-group-item:last-child {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.chats {
    background: #fff;
    display: block;
    position: relative;
    width: 99%;
    height: 80px;
    margin: 1px;
    padding: 12px 16px;
    border-top: none;
    border-left: none;
    border-right: none;
    cursor: pointer;
    text-align: left;
}
.chats .media img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.chat-name-and-time .chat-name {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    -webkit-align-items: baseline;
    -moz-align-items: baseline;
    align-items: baseline;
    overflow: hidden;
    max-height: 42px;
}
.chat-name-and-time .chat-name {
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    line-height: 1.4285;
    color: #000;
    letter-spacing: .5px;
}

.chats .chat-content {
    position: relative;
    top: 5px;
    /* padding-right: 64px; */
    height: 40px;
}
.chats .chat-content p {
    color: #626f82;
    margin: 0;
    max-height: 36px;
    line-height: 16px;
    font-size: 12px;
    overflow: hidden;
    position: relative;
    margin-right: -1em;
    padding-right: 1em;
    text-align: left;
}
.chat-content span {
    color: #626f82;
    margin: 0;
    max-height: 36px;
    line-height: 10px;
    font-weight: 500;
    font-size: 12px;
    overflow: hidden;
    position: relative;
    margin-right: -1em;
    padding-right: 1em;
}
.right-side {
    position: relative;
    height: 100%;
    width: 100%;
}
.loader_full {
    position: relative;
    /* min-width: 460px;
    max-width: 960px; */
    height: 100vh;
    border-left: 5px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-top: -70px;
    background: url(img/Hourglass.gif) center no-repeat;
    background-size: 65px 65px !important;
}

.full_first {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 5px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    text-align: center;
    vertical-align: middle;
    padding-top: 300px;

}

.sideloaderfriends {
    height: 100%;
    margin-top: -140px;
    background: url(img/Hourglass.gif) center no-repeat;
    background-size: 45px 45px !important;
}
.sideloader {
    height: 100%;
    /*margin-top: -690px;*/
    background: url(img/Hourglass.gif) center no-repeat;
    background-size: 45px 45px !important;
}

.full-chat {
    position: relative;
    /* min-width: 460px;
    max-width: 960px; */
    height: calc(100vh - 65px);
    /*border-left: 5px solid #d4d4d4;*/
    /*border-right: 1px solid #d4d4d4;*/
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.chat-header {
    width: 100%;
    position: relative;
    background-color: #fff;
    padding: 10px 10px 8px 10px;
    border-bottom: 1px solid #e6e6e6;
    background-position: right bottom;
}
.chat-header .media .arrow {
    font-size: 14px;
    color: #00aaf0;
    margin-right: 20px;
}
#sidebarCollapse {
    display: none;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
}
#sidebarCollapse:focus {
    outline: none;
}
#desktopCollapse {
    display: block;
}
#desktopCollapse:focus {
    outline: none;
}
.chat-header .media img {
    width: 30px;
    height: 30px;
}
.custom-class {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
}
.chat-header .media-body h5 {
    font-size: 13px;
    line-height: 2;
    font-weight: 400;
    letter-spacing: .5px;
    margin: 0;
    text-transform: capitalize;
}

.chat-time-
{
    font-size: 10px;
}
.custom-class i {
    font-size: 16px;
    font-weight: 500;
}
.add-member-box {
    position: relative;
    width: 100%;
    z-index: 2;
    background-color: #f1f1f1;
    border-top: 1px solid #e6e6e6;
    padding: 5px;
}
.add-member-box .close {
    position: absolute;
    right: 16px;
    top: 6px;
    float: right;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
.btn-member {
    height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-member a {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #d4d4d4;
    border-color: #a6a6a6;
    color: #065d8a;
}
.full-message-box {
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 115px);
    /* z-index: 1; */
}
.chat-layout {
    height: calc(100vh - 180px);
    padding-bottom: 65px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.chat-middle {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    background: #f7f7f7;
    box-shadow: 0px 1px 1px 0px rgb(0 0 0 / 10%);
}
.message-time p {
    color: #626f82;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    background-color: #f7f7f7;
    padding: 6px 0 5px;
    margin: 0;
}
.messages-area, .messages-area-user {
    background-color: rgb(229, 241, 246);
    padding: 17px;
    margin-bottom: 10px;
}

.messages-area-left {
    background-color: rgb(237, 237, 237);
    padding: 17px;
    margin-bottom: 10px;
    text-align: center;
    vertical-align: middle;
    color: grey;
    font-size: 12px;
}
.messages-area .media img {
    width: 30px;
    height: 30px;
    border-radius: 50px;
}
.messages-area .media-body h4 {
    color: #000;
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
    margin: 0;
}
.content-and-icons {
    display: block;
    word-break: break-all;
}
.messages-area .media-body .recieve-message {
    line-height: 22px;
    color: #000;
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .5px;
}
.icons a {
    font-size: 14px;
    padding: 5px;
    color: grey;
    opacity: 0;
    transition: all .3s ease;
}
.icons a:nth-last-child(1) {
    opacity: 1;
}
.icons a:hover {
    opacity: 1;
}
.messages-area .media-body .message-time {
    font-size: 11px;
    line-height: 25px;
    color: #626f82;
    margin: 0;
}

.messages-area-user .media img {
    width: 30px;
    height: 30px;
    border-radius: 50px;
}
.messages-area-user .media-body h4 {
    color: #000;
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
    margin: 0;
    text-align: right;
}
.messages-area-user .icons a {
    font-size: 14px;
    padding: 5px;
    color: grey;
    opacity: 0;
    transition: all .3s ease;
}
.messages-area-user .icons a:nth-last-child(3) {
    opacity: 1;
}
.messages-area-user .icons a:hover {
    opacity: 1;
}
.messages-area-user .media-body .recieve-message {
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    color: #000;
    letter-spacing: 0.5px;
    margin: 0;
    text-align: right;
}
.messages-area-user .media-body .message-time {
    font-size: 11px;
    color: #626f82;
    margin: 0;
    text-align: right;
}

.group_message
{
    text-align: left !important;
    /*white-space: pre;*/
}

.friend_message
{
    height: 200px !important;
    text-align: left !important;
    /*white-space: pre;*/
}

.member_image
{
    width: 35px !important;
    height: 35px !important;
    object-fit: cover;
    margin-right: 10px;
}

.group_picture_update
{

}

.sub-group-field {
    left: 0px !important;
    bottom: 0px !important;
    font-size: 15px;
}

#edit_button_modal
{
    padding: 0px !important;
    margin-top: 16px !important;
    box-shadow: 0 0 7px rgba(0,0,0,.28);
}
.input-message-field {
    padding: 15px 15px 15px;
    background-color: #fff;

}
.input-message-field {
    padding: 15px 15px 15px;
    position:absolute;
    background-color: #fff;
    left: 0;
    bottom: 2px;
    width: 100%;
}
.textarea-emoji {
    position: relative;
}
.textarea-emoji .emoji-picker-icon
{
    position: absolute;
    top: 10px;
    margin-left: 10px;
}
.new_message_setting .emoji-menu
{
    top: -230px;
    box-shadow: 0 0 10px rgba(0,0,0,.28);
}

.new_message_settings .emoji-picker-icon
{
    top: 63px;
}
.new_message_settings .emoji-menu
{
    top: 150px;
}
.field {
    position: relative;
    padding: 0 20px;
}
.field .form-control {
    border-radius: 50px;
}

.count-message
{
    background-color: rgba(186, 3, 3, 0.84);
    padding: 4px;
    border-radius: 50px;
    display: none;
    height:16px;
    width:16px;
    font-size: 10px;
    text-align: center;
    margin-top: -18px;
    margin-left: 20px;
    color: white;
}

.chat-title
{
    font-size: 13px;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
textarea:focus {
    outline: none;
}
.show-popup {
    position: absolute;
}
.emoji-menu {
    top: -240px;
    width: 100% !important;
}
.emoji-picker-icon {
    right: 20px !important;
}
.emoji-wysiwyg-editor {
    font-size: 14px;
    line-height: 20px !important;
}
.send-msg {
    position: absolute;
    top: 10px;
    right: -5px;
}
.image-upload input {
  display: none;
}
.image-upload {
    position: absolute;
}
.image-upload img {
    position: relative;
    top: 8px;
    left: -25px;
    width: 20px;
}
/* .show-popup img {
    position: relative;
    top: 6px;
    left: -25px;
    width: 20px;
} */
.modal-header {
    /*padding: 15px 30px !important;*/
    /*border-bottom: none !important;*/
}

.edit-model-content{height: inherit;}
.edit-group-model-body {
    padding: 0 !important;
}
.header-group-edit {
    display: inline-block;
}
.header-group-edit img {
    border-radius: 50px;
    margin: 10px auto;
    float: none;
}
.edit-group {
    width: 100%;
    padding: 10px;
    display: block;
    position: relative;
}
.edit-group .member-heading{
    text-align: left;
    margin-bottom: 15px;
}
.members-list {
    border: 1px solid #eee;
    padding: 5px 10px;
    overflow-y: scroll;
    height: 120px;
}
.members-list .media {
    margin-bottom: 10px;
}
/* width */
::-webkit-scrollbar {
    width: 7px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: #9fb0b9;
      border-radius: 50px;
  }

.member-list-custom {
    position: relative;
    top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.members-list .media img {
    width: 30px;
    border-radius: 50px;
}
.btns-edit {
    text-align: center;
    padding: 0 10px;
}
#addFriends .modal-header .close {
    padding: 0 !important;
    border: none !important;
}
#addFriends .modal-header{
    background: transparent;
    border-bottom: none;
}
#addFriends .modal-body {
    padding: 30px;
}
#addFriends .modal-body .form-control {
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid #eee !important;
}
#addFriends .modal-body .btn-primary {
    color: #fff;
    background-color: #22559a;
    border-color: #22559a;
}
#addFriends .modal-body input.form-control{
    margin: 0;
}
#addFriends .modal-body .inner {
    border: 2px solid #f7f7f7;
    padding-bottom: 10px;
    background: #f7f7f7;
}

.add-member .form-control {
    display: block !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    text-align: left;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    background-color: transparent;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 10px !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    border: none;
    background: none;
}
.select2-container .select2-search--inline {
    float: none !important;
}
/* input#group-name {
    display: none;
} */
.select2-container--default .select2-search--inline .select2-search__field {
    width: 100% !important;
    margin-top: 0 !important;
}
.select2-container--default .select2-selection--multiple {
    padding: 0 10px;
}
.dropdown-menu.show {
    display: block !important;
    top: 15px !important;
    box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 10%);
}
.dropdown-menu a {
    padding: 10px 30px !important;
    margin-bottom: 0 !important;
    cursor: pointer;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.modal-header .close {
    padding: 0;
    border: none !important;
}
.modal-header{
    background: transparent;
    border-bottom: none;
    /*margin-bottom: 15px;*/
}
/*.modal-body {*/
    /*padding: 30px;*/
/*}*/
.modal-body .form-control {
    /*margin-bottom: 20px;*/
    /*margin-top: 20px;*/
    text-transform: capitalize;
    padding-left: 17px;
    font-size: smaller;
}
.modal-body .btn-primary {
    color: #fff;
    background-color: #22559a;
    width: 100%;
    padding: 10px 0;
    margin-top: 10px;
    border: none !important;
    border-radius: 0 !important;

}

.modal-body .btn-danger {
    color: #fff;
    background-color: #d63927;
    /*width: 30%;*/
    padding: 10px 0;
    margin-top: 10px;
    margin-left: 4px;
    margin-bottom: 10px;
    /*display: inline-block !important;*/
    border: none !important;
    border-radius: 0 !important;

}

.counter_
{
    background-color: #22559a;
    padding: 4px;
    border-radius: 50px;
    height:20px;
    width:20px;
    font-size: 12px;
    text-align: center;
    float: right;
    color: white;
    margin-right: 20px;
    /*font-weight: bold;*/
}

.modal-body .btn-success {
    color: #fff;
    background-color: #22559a;
    /*width: 30%;*/
    padding: 10px 0;
    margin-top: 10px;
    margin-bottom: 10px;
    /*display: inline-block;*/
    border: none !important;
    border-radius: 0 !important;

}
.modal-body input.form-control{
    margin: 0;
}
.modal-body .inner {
    border: 2px solid #f7f7f7;
    padding-bottom: 10px;
    background: #f7f7f7;
}
.modal-header button {
    padding: 0 !important;
    background: transparent;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    /* padding: 20px; */
    min-height: calc(100vh - 70px);
    max-height: calc(100vh - 70px);
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    .chat-layout {
        padding-bottom: 10px;
        height: calc(100vh - 180px);
    }
}

@media (min-width: 1440px) {
    .chat-layout {
        height: calc(100vh - 180px);
    }
}
@media (min-width: 321px) and (max-width: 600px) {
    .chat-name-and-time .chat-name {
        line-height: 2.5;
    }
    .emoji-wysiwyg-editor:focus {
        /*margin-bottom: 50px;*/
    }
    .wrapper-chat {
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .full-chat {
        top: 0;
    }

    .loader_full {
        top: 0;
    }
    #sidebar {
        position: relative;
        top: 0;
        margin-left: -100%;
        min-width: 89.9%;
        max-width: 89.9%;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    #Sidebar-first {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #Sidebar-first.active {
        margin-left: 0 !important;
        /*display: none;*/
    }
    #Sidebar-first .Sidebar-first-header h3,
    #Sidebar-first .CTAs {
        display: none;
    }
    #Sidebar-first .Sidebar-first-header strong {
        display: block;
    }
    #Sidebar-first ul li {
        width: 100%;
    }
    #Sidebar-first ul li a {
        padding: 20px 10px;
    }
    #Sidebar-first ul li a span {
        font-size: 0.85em;
    }
    #Sidebar-first ul li a i {
        margin-right: 0;
        display: block;
    }
    #Sidebar-first ul ul a {
        padding: 10px !important;
    }
    #Sidebar-first ul li a i {
        font-size: 1.3em;

    }
    #Sidebar-first {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    #sidebarCollapse {
        display: block;
    }
    #no-chat-message {
        margin-right: 40px;
    }
    #content {
        display: inherit !important;
    }
}
@media (max-width: 576px) {
 .close {
    display: block !important;
 }
}
@media (max-width: 320px){
    .chat-name-and-time .chat-name {
        font-size: 12px;
        line-height: 2.5;
    }
    .emoji-wysiwyg-editor:focus {
        margin-bottom: 50px;
    }
    #sidebar.active {
        margin-left: -250px;
    }
    #sidebar ul.components {
        height: 650px;
    }
    /*.full-chat {*/
        /*top: 35px;*/
    /*}*/

    .loader_full{
        top: 35px;
    }
    .chat-layout {
        padding-bottom: 10px;
        height: calc(100vh - 180px);
    }
    .wrapper-chat {
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .emoji-wysiwyg-editor {
        font-size: 12px !important;
    }
    #sidebar {
        position: relative;
        /*top: 35px;*/
        margin-left: -100%;
        min-width: 100%;
        max-width: 100%;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    #Sidebar-first {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #Sidebar-first.active {
        margin-left: 0 !important;
        /*display: none;*/
    }
    #Sidebar-first .Sidebar-first-header h3,
    #Sidebar-first .CTAs {
        display: none;
    }
    #Sidebar-first .Sidebar-first-header strong {
        display: block;
    }
    #Sidebar-first ul li {
        width: 100%;
    }
    #Sidebar-first ul li a {
        padding: 20px 10px;
    }
    #Sidebar-first ul li a span {
        font-size: 0.85em;
    }
    #Sidebar-first ul li a i {
        margin-right: 0;
        display: block;
    }
    #Sidebar-first ul ul a {
        padding: 10px !important;
    }
    #Sidebar-first ul li a i {
        font-size: 1.3em;

    }
    #Sidebar-first {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    #sidebarCollapse {
        display: block;
    }
    .top-icons {
        margin-right: 50px;
    }
    #no-chat-message {
        width: 85%;
    }
}

.messages-area-user {
    background: #f1e0e0 !important;
}

.recieve-message img{
    width: 250px !important;
    height: auto !important;
    border-radius: 5px !important;
    float: none !important;
}

.recieve-message a{
    color: blue;
}

.select2-container .select2-selection--single {
    height: 40px !important;
}

@media screen and (max-width: 576px) {
    .friend-message-modal .modal-content, .group-message-modal .modal-content, #editGroupModal .modal-content, #addNewMember .modal-content {
        height: 100vh;
        border-radius: 0 !important;
        border: none !important;
    }
    .friend-message-modal .modal-dialog, .group-message-modal .modal-dialog, #editGroupModal .modal-dialog, #addNewMember .modal-dialog {
        margin: 0 !important;
        max-width: 100% !important;
    }
    .friend-message-modal .modal-title, .group-message-modal .modal-title, #editGroupModal .modal-title, #addNewMember .modal-title {
        margin-top: -5px;
        text-align: left !important;
        font-size: 16px !important;
    }

}
.top-icons i {
    float: left;
    color: #385499;
    margin-top: 6px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 15px;
}
.top-icons img {
    width: 15px;
    margin-top: 7px;
}

@media screen and (max-width: 340px) {
    .friend-message-modal .modal-content, .group-message-modal .modal-content {
        margin-top: 59px;
        height: 90vh !important;
    }
}

@media screen and (max-width: 576px) {
    .friend-message-modal, .group-message-modal {
        padding-left: 0 !important;
    }
    .group-message-modal {
        margin-top: 0 !important;
    }
    .emoji-wysiwyg-editor {
        max-height: 165px !important;
    }
    #newMessageModal .modal-body .btn-primary, #newGroupModal .modal-body .btn-primary {
        position: absolute;
        bottom: 5px;
        left: 0;
    }
}
.modal {
    padding-left: 0 !important;
}
.emoji-wysiwyg-editor {
    max-height: 130px !important;
}



@media screen and (max-width: 1200px) {
    .count-message {
        position: absolute;
        margin-left: 52px !important;
        top: 70%;
    }
}

@media screen and (max-width: 767px) {
    .delete_group_update, .leave_group_update, .invites_via_group {
       margin-left: 0 !important;
    }
}

.full-message-box .emoji-picker-icon {
    top: 9px !important;
    margin-right: 10px;
}

@media screen and (max-width: 362px) {
    #sidebar {
        min-width: 88%;
        max-width: 88%;
    }
}
#editGroupModal .modal-header button {
    top: 16px !important;
}

@media screen and (max-width: 575px) {
    #newMessageModal .modal-header button {
        top: 18px;
    }
}
#invites_friends .form-control {
    /*padding: 0 !important;*/
    width: 100% !important;
}


.input-group-prepend{
    background-color: #e6ebf5!important;
    border: none !important;
    border-radius: 30px;
}

.search-box input{
    background-color: #e6ebf5!important;
    font-size: 14px !important;
    padding-top: 14px !important;

}
.info-message{
    text-align: center !important;
    font-size: 13px !important;
}
.own-check{
    padding-left: 20px !important;
}
.chat-leftsidebar{
    height: auto !important;
    width: -webkit-fill-available;
    width: -moz-available;
}