body{
    line-height:1;
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    background-color:#fff;
    padding: 0;
    margin: 0;
}
.sign-in {
    background-color: #fff !important;
}
*:focus {
    outline: none !important;
}
hr {
    background-color: #e4e4e4;
    height: 1px;
    width: 90%;
    float: left;
    margin: 2px 10px;
}
.no-account, .have-account {
    text-align: center;
    margin-top: 10px;
}
img {
    background-size: cover;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
}
.no-account p, .no-account a, .have-account p, .have-account a {
    display: inline-block;
}
.no-account p, .have-account p {
    font-size: 14px;
}
.no-account a, .have-account a {
    font-size: 14px;
    text-decoration: underline;
    font-weight: 400;
    color: #385499;
    margin-left: 7px;
}
.no-account a:hover, .no-accounta:active, .have-account a:hover, .have-account a:active {
    color: #385499;
    text-decoration: underline;
}
.sign_in_sec form input, .sign-in_sec form select {
    outline: none !important;
}
.main-logo {
    width: 100%;
    margin: 40px 0;
}
.main-logo img {
    width: 100px;
    margin-left: 150px;
}
.login-sec ul {
    margin-bottom: 30px;
    margin-left:55px;
    margin-right: 70px;
    float: left;
}
.login-sec .credentials, .login-sec .password-emails, .login-sec .reset-link {
    margin-bottom: 10px;
}
.continue, .register-btn, .login, .verify-btn, .sent-email, .bio-button, .about-button {
    background-color: #385499;
    width: 100%;
    color: #fff !important;
    text-align: center;
    margin: 10px 0 0 0;
    border-radius: 5px;
    border: none !important;
    outline: none !important;
    font-weight: 400;
    cursor: pointer;
    font-size: 14px;
}
.fgt-sec {
    color: #385499;
    line-height: 25px;
    font-weight: 600;
    font-size: 14px;
}
.fgt-sec label {
    margin-top: 1px;
}
.box-profile {
    width: 50%;
    margin: 5px auto;
    position: relative;
}
#picture_div {
    margin-left: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover !important;
    background-position: center;
    background-size: cover;
}
#picture_div img {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover !important;
    background-position: center;
    background-size: cover;
}
.upload-btn-wrappers{
    position: absolute;
    left: 125px;
    bottom: 50px;
    cursor: pointer;
    background-color: #e4e4e4;
    border-radius: 100px;
}
.upload-btn-wrappers img{
    width: 15px;
    height: 15px;
}
.password-reset {
    margin: 20px 0;
    text-align: center;
}
.password-reset a {
    color : #385499;
    font-weight: 400;
    font-size: 14px;
}
.password-reset a:hover {
    color: #385499;
    text-decoration: underline;
}
.create-new-account {
    width: 60%;
    margin: 10px auto;
    background-color: #4cbb17;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.back-to-login {
    padding: 5px 10px;
    font-size: 14px;
    color: white !important;
    float: right;
    margin: 30px 75px 60px 0;
    background-color: #385499;
    cursor: pointer;
    border: none !important;
    outline: none !important;
}
.add-pic-box {
    position: relative;
}
.dropdown-open{
    position: absolute;
    right: 30px;
    bottom: 55px;
    background-color: #fff;
    padding: 10px;
    color: #555;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    outline: none;
    min-width: 180px;
}
.profilephoto-dropdown-open {
    position: absolute;
    right: 110px;
    bottom: 55px;
    padding: 10px;
    color: #555;
    font-size: 14px;
    font-weight: 600;
    border-radius: 100px;
    border: none;
    outline: none;
}
.dropdown-open:hover, .dropdown-open:focus{
    border: none;
    outline: none;
    background-color: #f5f5f5;
}
.profilephoto-dropdown-open:hover, .profilephoto-dropdown-open:focus{
    background-color: #e4e4e4;
}
.dropdown-open .fa {
    margin-right: 10px;
    font-weight: 500;
    font-size: 16px;
}
.swal-footer {
    text-align: center;
}
input.select2-search__field {
    width: 100% !important;
}

.upload-btn-wrappers {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.label- {
    margin-bottom: 5px;
}

.upload-btn-wrappers input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.alert-dismissible .close {
    padding: 0;
    margin-top: 8px;
    margin-right: 5px;
    outline: 0;
    border: 0;
}
.images-container {
    position: relative;
}

.images-box {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.50;
    width: 100%;
}

.images-box img {
    width: 100%;
    height: 1024px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.chat-user-name{
    font-size: 18px;
    color: black;padding: 10px;
}

.chat-user-picc
{
    height: 60px;
    width: 60px;
    border:1px solid #c8c8c8;
    background-color:#bcbcbc;
    border-radius: 10px;
}

.chat-names
{
    background-color:#d8d8d8;
    border:1px solid #c8c8c8;
    border-radius: 10px;
    padding:12px;
    padding-left:80px;
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
}
.stack-top {
    z-index : 9999;
    background-color: #dc3545;
}
.cover-sec {
    width:100%;
    height:350px;
}
.cover-sec img {
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.add-remove-cover-photo {
    display: none;
    position: absolute;
    right: 30px;
    top: -55px;
    background-color: #fff;
    box-shadow:0 0 2px rgba(0,0,0,.28);
    min-width: 300px;
    overflow: auto;
    z-index: 9999;
    border-radius: 5px;
    padding: 10px;
}
.add-remove-cover-photo a.upload-photo, .add-remove-cover-photo a.remove-photo{
    color: #555;
    padding: 10px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    font-size: 14px;
    border-radius: 100px;
}
.add-remove-cover-photo a.upload-photo:hover, .add-remove-cover-photo a.remove-photo:hover{
    color: #555;
    background-color: #f5f5f5;
}
.add-remove-cover-photo a.upload-photo .fa, .add-remove-cover-photo a.remove-photo .fa {
    font-size: 16px;
}
.add-remove-profile-photo {
    display: none;
    position: absolute;
    right: 30px;
    top: -55px;
    background-color: #fff;
    box-shadow:0 0 2px rgba(0,0,0,.28);
    min-width: 100px;
    overflow: auto;
    z-index: 9999;
    border-radius: 5px;
    padding: 10px;
}
.add-remove-profile-photo a.upload-photo, .add-remove-profile-photo a.remove-photo{
    color: #555;
    padding: 10px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    font-size: 14px;
    border-radius: 100px;
}
.add-remove-profile-photo a.upload-photo:hover, .add-remove-profile-photo a.remove-photo:hover{
    color: #555;
    background-color: #f5f5f5;
}
.add-remove-profile-photo a.upload-photo .fa, .add-remove-profile-photo a.remove-photo .fa {
    font-size: 16px;
}
.show {
    display: block;
}
.birthday {
    display: inline;
}
.day, .month, .year {
    float: left;
    padding-right: 5px;
}
.year {
    padding-right: 0;
}
.user-account {
    float:right;
    width: 250px;
    box-sizing:border-box;
    position:relative;
    margin-top: -5px;
}

@media screen and (max-width: 1200px) and (min-width: 450px) {

}
@media screen and (max-width: 450px) {
    .header-data .logo {
        width: 50px;
        margin-right: 5px;
    }
}
.user-account-info {
    float: left;
    width: 145px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    position: relative;

}
.user-account-info:hover{
    cursor: pointer;
    background-color: #e4e4e4;
    border-radius: 100px;
}
.user-info {
    float:right;
    position: relative;
    cursor: pointer;
}
.user-pro-img{
    float: left;
    width: 100%;
    position: relative;
}
.user-pro-img img{
    position: relative;
    width: 120px;
    height: 120px;
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover !important;
    margin-bottom: 30px;
    border-radius: 100px;
    transform: translate(70%, 10%);
}
.user_profile{
    float:left;
    width:100%;
    background-color:#fff;
    margin-bottom:20px;
    box-shadow:0 0 2px rgba(0,0,0,.28);
    border-radius:10px;
}
.user_profile h3 {
    font-size: 16px;
    margin-top: 10px;
    text-transform: capitalize;
    padding-left: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.user_profile p {
    font-size: 14px;
    margin-bottom: 2px;
    padding-left: 15px;
}
.user_profile .edit-profile {
    color: #555;
    width: 100%;
    font-size: 14px;
    padding-left: 15px;
}
.user_profile a span {
    float: right;
    font-size: 14px;
    margin-right: 15px;
}
.acc-setting{
    float:left;
    width:100%;
    /*overflow-y: auto;*/
    background-color:#fff;
    box-shadow:0 0 2px rgba(0,0,0,.28);
    padding-bottom: 20px;
    border-radius: 5px;
}
.acc-setting>h3{
    text-align: center;
    width:100%;
    color:#385499;
    font-weight:600;
    font-size:18px;
    text-transform:capitalize;
    padding:17px 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e4e4e4;
}
.notification-measage {
    margin: 0 0 20px 0;
}
.acc-setting form{
    float:left;
    width:100%;
}
.acc-setting form input {
    height: 38px;
    line-height: 38px;
}
.acc-setting form input, .acc-setting form textarea {
    background-color: #fff;
    width: 100%;
    border: 1px solid #999;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    padding: 3px 10px;
    text-transform: none;
    font-size: 16px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    background-color: #e4e4e4;
}
.companies-info{
    padding:20px 0 60px 0;
}
.company-title{
    margin-bottom:20px;
    margin-left: 15px;
}
.company-title h3{
    color:#000;
    font-size:14px;
    font-weight:400;
    text-transform: capitalize;
    position: relative;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.companies-list{
    float:left;
    width:100%;
    margin-bottom:-30px;
}
.company_profile_info{
    float:left;
    width:100%;
    text-align:center;
    background-color: #f5f5f5;
    border-radius: 5px;
    margin-bottom:30px;
}
.company-up-info{
    float:left;
    width:100%;
    padding: 5px 0;
}
.company-up-info img{
    float:none;
    width: 80px;
    height: 80px;
    margin-bottom:5px;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    -ms-border-radius:100px;
    -o-border-radius:100px;
    border-radius:100px;
    object-fit:cover !important;
    background-size: cover;
    background-position: center;
}
.message-btn, .unfollow-button, .follow-button, .cancel-button, .friend-button, .unfriend-button, .you {
    background-color:#385499;
    color:#fff !important;
    padding:4px 3px;
    font-size:12px;
    border-radius:5px;
    margin: 1px;
    display: inline-block;
    text-align: center;
    border: 0;
    outline: none;
    font-weight: 400;
    cursor: pointer;
}
.you {
    background-color: #51a5fb;
}
.profile-account-setting{
    overflow-y: auto;
}
.flw-status li {
    width: 100%;
    text-align: left;
    padding-left: 2px;
    margin: 15px 0;
}
.flw-status li a {
    color: #385499;
    font-size: 14px;
    font-weight: 600;
    padding-left: 20px;
}
.flw-status li a b {
    margin-left: 20px;
    font-size: 12px;
    font-weight: 400;
}
.post-st ul li a {
    cursor: pointer;
    background-color: #385499;
    color: #fff !important;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
}
.usy-dt img, .noty-user-img img {
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain !important;
    object-fit: cover !important;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    margin-top:2px
}
.usy-name{
    float:left;
    margin-left:15px;
    margin-top: 10px;
}
.usy-name h3, .request-info h3{
    color:#000;
    font-size:14px;
    text-transform:capitalize;
    font-weight:400;
    margin-bottom:2px;
}
.usy-name span{
    color:#555;
    font-size:10px;
}
.ed-opts>a{
    color:#555;
    font-size:16px;
    float:right;
    top:15px;
    position:relative;
    left:10px;
    cursor: pointer;
}
.ed-opts .fa-pencil {
    font-size: 14px;
    position: relative;
    top: -33px;
}
.ed-options{
    position:absolute;
    top:100%;
    right:9px;
    width: 110px !important;
    background-color:#fff;
    -webkit-box-shadow:0 0 2px rgba(0,0,0,.28);
    -moz-box-shadow:0 0 2px rgba(0,0,0,.28);
    -ms-box-shadow:0 0 2px rgba(0,0,0,.28);
    -o-box-shadow:0 0 2px rgba(0,0,0,.28);
    box-shadow:0 0 2px rgba(0,0,0,.28);
    opacity:0;
    visibility:hidden;
    z-index:0;
    margin-top: 10px;
    cursor: pointer;
}
.ed-options.active{
    opacity:1;
    visibility:visible;
    z-index:999;
}
.ed-options li {
    padding: 10px;
}
.ed-options li:hover {
    background-color: #f1f1f1;
}
.ed-options li a{
    color:#555;
    font-weight:400;
    cursor: pointer;
    font-size: 10px;
}
.ed-options li a .fa {
    background-color: #e4e4e4;
    padding: 5px 6px;
    border-radius: 100px;
    margin-right: 6px;
    font-size: 12px;
    top: 0 !important;
}
.request-info span {
    margin: 5px 0;
}
.accept-req{
    color:#fff;
    font-size:14px;
    background-color:#385499;
    height:40px;
    padding:0 20px;
    font-weight:600;
    border:0;
    outline:none;
}
.close-req{
    height:40px;
    width:30px;
    text-align:center;
    line-height:40px;
    background:#e4e4e4;
    color:#385499;
    margin-left:7px;
    border:none;
    outline: none
}
.upload-cover-photo {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
    background-color: #fff;
}
.upload-cover-photo:hover {
    background-color: #f5f5f5;
}
.nav-list
{
    float:left;width: 460px;font-size: 22px;background-color: #f2f2f2;color: #3c579d;font-weight: bold;
}

.w1
{
    width: 200px;
}

.w2
{
    width: 200px;
    text-align: center;
}

.nav-sub
{
    font-size: 20px;
    color: #3c579d;
    text-align: center;
    padding: 5px 15px;
}

.nav-sub:hover {
    color: #3c579d
}

.m-r-20
{
    margin-right: 20px;
}

.nav-a
{
    margin-top: -10px;
    font-size: 16px;
    padding-left:9px;
    padding-right:9px;
}
.update-cover-photo {
    background-color: #385499 !important;
    border: none !important;
    outline: none !important;
    color: #fff !important;
    border-radius: 5px;
    padding: 20px 15px;
    right: 15px !important;
    font-size: 22px !important;
    font-weight: 600 !important;
    cursor: pointer;
}
.cancel-cover-photo {
    background-color: #e4e4e4 !important;
    border: none !important;
    outline: none !important;
    color: #385499 !important;
    border-radius: 5px;
    padding: 20px 15px;
    margin-right: 40px !important;
    font-size: 22px !important;
    font-weight: 600 !important;
    cursor: pointer;
}
.modal-header {
    border-bottom: 1px solid #f0eff5 !important;
}
.modal-header button {
    top: 27px;
    right: 30px;
    width: 35px;
    height: 35px;
    outline: none !important;
    border: none !important;
    border-radius: 100px;
    opacity: 1;
    /*background-color: #e4e4e4 !important;*/
}
.modal-header button span{
    font-size: 27px;
    font-weight: 100;
    color: #000;
}
.post-project-fields p.text-secondary {
    font-size: 14px;
}
.select-post-image {
    bottom: 0 !important;
    float: left;
    margin-left: 20px;
    left: 0;
}
.fname {
    padding-right: 5px;
}
@media screen and (max-width: 1199px) {
    .fname {
        padding-right: 0;
    }
}
@media screen and  (max-width: 338px) {
    .fgt-sec {
        font-size: 11px;
    }
    .sent-email {
        font-size: 11px;
    }
}
@media (max-width: 991px) {
    .login-sec {
        padding: 0;
        padding-bottom: 50px;
    }
    hr {
        width: 100% !important;
        margin: 2px 0 !important;
    }
    .back-to-login {
        margin-right: 20px;
    }
    .main-left-sidebar {
        margin-top: 0;
    }
    .login-sec ul {
        margin-left:20px;
        margin-right:0;
    }
    .alert-dismissible .close {
        display: block;
    }
    .fname {
        padding-right: 0;
    }
    .day, .month, .year {
        padding-right: 0;
    }

}

.cover-photo-zoom {
    cursor: zoom-in;
    transition: 0.3s;
    background: url(img/loader.gif) center no-repeat;
    background-color:black;
    background-size: 45px 45px !important;
}

.cover-photo-zoom:hover {opacity: 0.7;}

.profile-photo-zoom {
    cursor: pointer;
    transition: 0.3s;
}

.profile-photo-zomm:hover {opacity: 0.7;}

#myModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height:100vh; /* Full height */
    overflow: hidden !important;
    background-color: rgb(0,0,0, 0.85); /* Fallback color */
}

.img-modal-content {
    width: 100% !important;
    height: 100% !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain !important;
}

/* Caption of Modal Image */

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
#myModal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
    color: #fff;
    border: none;
    font-weight: lighter;
    font-size: 50px;
    cursor: pointer;
    opacity: 1;
    text-shadow: none;
}
#myModal .close:hover,
#myModal .close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .img-modal-content {
        width: 100%;
    }
    #myModal .close {
        display: block;
    }
    .user-tab-sec {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 400px){
    .ed-options {
        right: -20px;
        top: 15px;
        width: 110px !important
    }
}

.user-profile-ov .dob, .user-profile-ov .age, .user-profile-ov .country, .user-profile-ov .city, .user-profile-ov .hometown {
    font-size: 13px;
}
.live-video, .photo-video, .feeling-activity {
    padding: 8px 16px;
}
.live-video:hover, .photo-video:hover, .feeling-activity:hover {
    background-color: #f1f1f1;
    border-radius: 10px;
}
.small-menu-close-btn, .small-menu-profile-pic, .small-menu-setting, .small-menu-logout, .small-menu-notification-icon {
    display: none;
}
@media screen and (max-width: 1200px) {
    header {
        padding-bottom: 7px;
    }
    .user-account {
        display: none;
    }
    .small-menu-profile-pic, .small-menu-setting, .small-menu-logout, .small-menu-notification-icon {
        display: block;
    }
    .small-menu-close-btn:hover {
        color: #fff;
    }
    .small-menu-profile-pic {
        padding: 6px 0 6px 10px;
    }
    .small-menu-profile-pic:hover {
        background-color: #fff;
        border-radius: 100px;
    }
    .small-menu-profile-pic img {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        object-fit: cover;
        border-radius: 100px;
        margin-right: 6px;
        width: 30px;
        height: 30px;
    }
    .small-menu-profile-pic h6 {
        margin-top: 6px;
        padding-left: 10px;
        color: #555;
        text-transform: capitalize;

    }

}
@media screen and (max-width: 991px) {
    .user-pro-img img {
        margin-left: 10px;
    }
    .user_profile a span {
        padding-right: 12px !important;
    }
}
@media screen and (max-width: 800px) {
    .user_profile a span {
        padding-right: 10px !important;
    }
}
@media screen and (max-width: 700px) {
    .user_profile a span {
        padding-right: 10px !important;
    }
    .small-menu-profile-pic {
        padding: 3px 0 3px 5px !important;
    }

}
@media screen and (max-width: 600px) {
    .user_profile a span {
        padding-right: 10px !important;
    }
    header nav{
        padding-bottom: 15px;
    }
}
@media screen and (max-width: 500px) {
    .user_profile a span {
        padding-right: 7px !important;
    }
}
@media screen and (max-width: 400px) {
    .user_profile a span {
        padding-right: 5px !important;
    }
}
@media screen and (max-width: 300px) {
    .user_profile a span {
        padding-right: 5px !important;
    }
}
@media screen and (max-width: 576px) and (min-width: 341px) {
    header {
        position: fixed;
        top:0;
        z-index: 1;
    }
    .messages-page {
        margin-top: 57px;
    }
    section.cover-sec {
        margin-top: 55px;
    }
    section.companies-info {
        margin-top: 40px;
    }
    section.profile-account-setting {
        margin-top: 5px;
    }
    .main-section-data {
        margin-top: 40px !important;
    }
    .accept-req{
        color:#fff;
        font-size:12px;
        background-color:#385499;
        height:25px;
        padding:0 5px;
        font-weight:400;
        border:0;
        outline:none;
    }
    .close-req{
        height:25px;
        width:20px;
        text-align:center;
        line-height:25px;
        background:#e4e4e4;
        color:#385499;
        margin-left:7px;
        border:none;
        outline: none
    }
}
.messages-page {
    margin-top: 62px;
}
section.cover-sec {
    margin-top: 60px;
}
section.companies-info {
    margin-top: 60px;
}
section.profile-account-setting {
    margin-top: 35px;
}
.main-section-data {
    margin-top: 74px;
}
.post-body {
    padding: 10px 20px !important;
}
.post-body form textarea {
    border:none;
    font-size:14px;
}
@media screen and (max-width:1150px) {
    .cm-logo {
        padding-left: 70px;
    }
    .login-sec {
        padding: 0;
        margin-bottom: 20px;
    }
}
.user-account-settingss a:hover {
    background-color: #f1f1f1;
}
.user-account-settingss i {
    background-color: #e4e4e4;
    font-size: 20px;
}
header nav.active ul li:hover {
    background-color: #fff;
}
nav ul li.active a{
    color:#385499;
    border-bottom:3px solid #385499;
    padding-bottom:5px;
    font-size:14px;
    font-weight:400;
}




.main-body {
    background-color: #e4e4e4;
}
.confirm-request, .request-sent {
    background-color: #ee1700;
    color: #fff !important;
}
.unfriend {
    background-color: rgba(255,23,0,0.6)
}
.view-profile {
    background-color: #385499;
    color:#fff !important;
    width: 100%;
    border-radius: 0 0 5px 5px;
}
.no-profile {
    box-shadow: none;
    background-color: #fff;
}
.follower, .follower-numbers, .following, .follower-numbers {
    font-size: 15px;
    font-weight: 400;
    margin-right: 15px;
}
.friend-list {
    margin-top: 5px;
    margin-bottom: 5px
}
.friend-list .view-profile {
    padding:5px;
    font-size: 12px;
    background-color: #385499;
}
.add-friends {
    background-color: #385499;
    color: #fff;
    text-align: center;
    padding:10px;
}
.invites-friends {
    cursor:pointer;
    border: 1px solid #385499;
    color: #385499 !important;
    padding: 8px;
}
.post-st {
    width: 100%;
}
.open-post-popup {
    color: #999 !important;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    background-color: #f1f1f1;
    padding: 10px 10px 10px 10px;
    border-radius: 100px;
    position:relative;
    top: 5px;
    left: 10px;
}
.modal-header .modal-title {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}
.invites-bottom {
    border-bottom: 1px solid #cfcfcf;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.via-email,.via-sms, .send-invite {
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    color: white !important;
    background-color: #22A852;
    padding:10px 0;
    display: block;
    text-align: center;
    border-radius: 5px;
}
.via-sms {
    margin-left: 5px;
    background-color: #d0211c;
}
.send-invite {
    background-color: #385499;
}
#number_div {
    display: none;
}
#email_div {
    display: none;
}

.ajax-load{
    padding: 10px 0px;
    width: 100%;
}

.active-list
{
    color: white;
    background-color: #385499;
}
.pointer-cursor
{
    cursor: pointer;
}
.m-l35
{
    margin-left: -35px;
}

.cancel-req
{
    background-color: #ee1700;
}
.darkgrey
{
    color: #3b3b3b
}

.post-image-home
{
    width: 100%;
    object-fit: cover;
}

.post-image-h1
{
    font-size: 14px;
    margin: 20px 0;
    text-transform:
            capitalize; font-weight: 500;
}

.w-170
{
    width: 170px;
}

.-hw50
{
    width: 50px;height: 50px;
}

.ml-7
{
    margin-left: 7px;
}

.post-add-image-view
{
    height: 120px;
    overflow-y: auto;
}

.fa-camera {
    cursor: pointer;
}

.age-select {
    background-color: #fff !important;
}

#update-cancel-cover-photo {
    display:none;
    background-color: #444;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    padding: 25px 0 10px 0;
    text-align: right;
}
#update-cancel-profile-photo {
    display:none;
    background-color: #444;
    position: absolute;
    top: 5px;
    border-radius: 10px;
    width: 100%;
    padding: 5px 0 5px 10px;
    margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
    .acc-leftbar .nav-tabs>a {
        border-bottom: 1px solid #000;
        border-right: 0 !important;
        padding: 12px 6px !important;
    }
    .acc-leftbar .nav-tabs>a:hover {
        border-bottom: 1px solid #000;
        border-right: 0 !important;
    }
    .acc-leftbar .nav-tabs>a:last-child {
        border-bottom: none;
    }
    .acc-leftbar .nav-tabs>a:hover:last-child {
        border-bottom: none;
    }
    .nav-link,.nav-tabs .nav-link.active{
        border-bottom: 1px solid #000;
    }
}
@media screen and (max-width: 1700px) {
    /*.acc-leftbar .nav-tabs>a {*/
        /*border-right: 1px solid #000;*/
    /*}*/
    /*.acc-leftbar .nav-tabs>a:hover {*/
        /*border-right: 1px solid #000;*/
    /*}*/
    /*.acc-leftbar .nav-tabs>a:last-child {*/
        /*border-right: none;*/
    /*}*/
    /*.acc-leftbar .nav-tabs>a:hover:last-child {*/
        /*border-right: none;*/
    /*}*/
    /*.nav-link,.nav-tabs .nav-link.active{*/
        /*border-right: 1px solid #000;*/
    /*}*/
}
#cover-update, #cover-cancel {
    font-size: 12px;
    cursor:pointer;
    padding: 8px;
    border-radius:100px;
    text-align:center;
    float: right;
    background-color: #3c579d;
    color: white;
    margin-right: 10px;
}
#cover-cancel {
    background-color:#eeeeee;
    color:black;
    padding: 7px 8px !important;
    margin-top: 2px;
}
#profile-update, #profile-cancel {
    font-size: 12px;
    cursor:pointer;
    padding:8px;
    border-radius:100px;
    text-align:center;
    float: left;
    background-color: #3c579d;
    color: white;
    margin-right: 10px;
}
#profile-cancel {
    background-color:#eeeeee;
    color:black
}
.follower_following a {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    margin-right: 15px;
    cursor: pointer;
}
.friends img {
    width: 40px;
    height:  40px
}
.show-profile {
    padding:5px;
    font-size: 12px;
    background-color: #385499;
    margin: 5px 0;
}
.job_descp h1 {
    margin: 20px 0;
}

.image-post-delete{
    float: right !important;
    height:25px !important;
    width: auto !important;
    z-index: -1 !important;
    margin-left: -90px !important;
    margin-top: 10px !important;
    margin-right: 10px !important;
    padding: 5px !important;
    border: 1px solid grey !important;
}

.image-post-{
    height:100px;
    width: 125px;
    object-fit: cover;
    margin: 5px;
    background: url(img/loader.gif) center no-repeat;
    background-color:black;
    background-size: 15px 15px;

}

.image-data
{
    max-height: 160px;
    overflow: auto;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    padding: 2px;

}
/*.modal-body {*/
    /*padding: 10px !important;*/
/*}*/

.btn-close
{
    color: #3c579d;
    border: 1px solid #3c579d;
}

.confirm-button
{
    background-color: red;
}
.cancel-button
{
    background-color: red;
}

.unfriend-button
{
    background-color:rgba(255,23,0,0.6);
}

.friend-button
{
    background-color: #51a5fb;
}

.-hw50{
    background-color: #51a5fb;
}
@media screen and (max-width: 300px) {
    .post-project-fields p.text-secondary {
        font-size: 10px;
    }
    .select-post-image {
        left: 5px;
        margin-left: 5px;
    }
}
#message-popup-div {
    background-size: 20px 20px;
    border-radius: 10px;

    background: url(img/loader.gif) center no-repeat;
    background-position: center 20px;
    background-color: #36454f;
    background-size: 20px 20px;
    width: 400px;
    margin: auto;
    height: auto;
    vertical-align: middle;
    z-index: 99999;
    padding: 5px 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
#message-popup-div p {
    margin-top: 40px;
    margin-bottom:20px ;
    text-align: center;
    width: auto;
    color: #fff;
}

@media screen and (max-width: 576px) {
    .col-12 {
        padding: 0 !important;
    }
    .chk-1, .chk-2, .chk-3 {
        margin-right: 0 !important;
    }
}

@media screen and (max-width: 575px ) {
    .via-sms {
        margin-left: 0;
        margin-top: 10px;
    }
}

a img.notification-icon {
    width: 20px;
    float: none;
    vertical-align: middle;
    border-radius: 100px;
}

.notification-div {
    float: right;
    margin-top: 5px;
    margin-right: 10px;
    background-color: #efefef;
    border-radius: 100px;
    padding: 10px 3px 10px 0;
}

@media screen and (max-width: 1353px) and (min-width: 1201px) {
    .user-account {
        width: 240px;
    }
}

.company-up-info ul li a:hover {
    color: #fff;
}

.small-menu-icon {
    position: absolute;
    left: 100%;
    margin-top: 17px;
}

@media screen and (max-width: 350px) and (min-width: 200px) {
    .post-topbar {
        padding: 5px 5px 10px 5px;
    }
    .open-post-popup {
        font-size: 11px;
    }
    .post-bar {
        padding: 5px;
    }
    .ed-opts {
        left: -10px;
    }
}
.modal-body #caption, .modal-body #captionedit {
    text-transform: none;
}
@media screen and (max-width: 420px) {
    .request-details {
        padding: 5px;
    }
    .usy-name h3, .request-info h3 {
        font-size: 11px;
    }
    .request-info span {
        font-size: 11px;
    }
    .accept-req {
        font-size: 11px;
        padding: 0 5px;
        height: 30px;
    }
    .close-req {
        height: 30px;
        width: 30px;
        line-height: 30px;
        margin-left: 2px;
    }
}
@media screen and (max-width: 613px) {
    .acc-setting span a {
        font-size: 12px;
    }
}

@media screen and  (max-width: 310px){
    .acc-setting .profile-link {
        font-size: 12px;
    }
    .acc-setting span a {
        font-size: 10px;
    }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
*:focus, input:focus, textarea:focus, select:focus, button:focus {

    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none !important;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
#number_div .form-control {
    margin-top: 0 !important;
}
#number_div .form-control, #email_div .form-control {
    text-transform: none !important;
    background-color: #fff !important;
}
.user-pro-img i {
    background-color: #e4e4e4;
    padding: 10px;
    border-radius: 100px;
    position: absolute;
    top:65%;
    right:47%;
}
.profilepic {
    background-color: #f0f8ff;
    font-size: 14px;
    font-weight: 400;
    color: #385499 !important;
    padding:10px 20px;
    display: block;
    text-align: center;
    border-radius: 5px;
}
.save-cancel-profile-photo {
    margin-top: 20px;
    padding-top: 10px;
    text-align: right;
}
.saveprofilebtn {
    background-color: #385499;
    cursor: pointer;
}
.cancelprofilebtn:hover {
    background-color: #e4e4e4;
    cursor: pointer;
}
#profilepicdivtwo {
    display: none;
}
#view-update-profile-pic {
    position: absolute;
    display: none;
    width: 250px;
    top: 100%;
    left: 10%;
    z-index: 99;
    background-color: #fff;
    border-radius: 5px;
    box-shadow:0 0 4px rgba(0,0,0,.28);
    cursor: pointer;
    padding: 5px;
}
.zoom-profile-pic, .upload-profile-pic {
    margin: 5px;
    padding: 10px 5px;
}
.zoom-profile-pic:hover, .upload-profile-pic:hover {
    background-color:#e4e4e4;
    border-radius:5px;
}
@media screen and (max-width:1600px) {
    .user-pro-img i {
        right: 45%;
    }
}
@media screen and (max-width:1545px) {
    .user-pro-img i {
        right: 44%;
    }
}
@media screen and (max-width:1500px) {
    .user-pro-img i {
        right: 42%;
    }
}
@media screen and (max-width:1450px) {
    .user-pro-img i {
        right: 40%;
    }
}
@media screen and (max-width:1400px) {
    .user-pro-img i {
        right: 38%;
    }
}
@media screen and (max-width:1350px) {
    .user-pro-img i {
        right: 35%;
    }
}
@media screen and (max-width:1300px) {
    .user-pro-img i {
        right: 31%;
    }
}
@media screen and (max-width:1250px) {
    .user-pro-img i {
        right: 28%;
    }
}
@media screen and (max-width:1200px) {
    .user-pro-img i {
        right: 25%;
    }
}
@media screen and (max-width:1150px) {
    .user-pro-img i {
        right: 22%;
    }
}
@media screen and (max-width:1100px) {
    .user-pro-img i {
        right: 19%;
    }
}
@media screen and (max-width:1050px) {
    .user-pro-img i {
        right: 16%;
    }
}
@media screen and (max-width:1020px) {
    .user-pro-img i {
        right: 14%;
    }
}
@media screen and (max-width:992px) {
    .user-pro-img i {
        right: 13%;
    }
}
@media screen and (max-width:991px) and (min-width: 940px) {
    .user-pro-img i {
        right: 86%;
    }
}
@media screen and (max-width:939px) and (min-width:888px) {
    .user-pro-img i {
        right: 85%;
    }
}
@media screen and (max-width:887px) and (min-width:836px) {
    .user-pro-img i {
        right: 84%;
    }
}
@media screen and (max-width:835px) and (min-width:784px) {
    .user-pro-img i {
        right: 83%;
    }
}
@media screen and (max-width:783px) and (min-width:732px) {
    .user-pro-img i {
        right: 82%;
    }
}
@media screen and (max-width:731px) and (min-width:680px) {
    .user-pro-img i {
        right: 80.5%;
    }
}
@media screen and (max-width:679px) and (min-width:628px) {
    .user-pro-img i {
        right: 79%;
    }
}
@media screen and (max-width:627px) and (min-width:576px) {
    .user-pro-img i {
        right: 77%;
    }
}
@media screen and (max-width:575px) and (min-width:524px) {
    .user-pro-img i {
        right: 75%;
    }
}
@media screen and (max-width:523px) and (min-width:498px) {
    .user-pro-img i {
        right: 73%;
    }
}
@media screen and (max-width:497px) and (min-width:472px) {
    .user-pro-img i {
        right: 71%;
    }
}
@media screen and (max-width:471px) and (min-width:446px) {
    .user-pro-img i {
        right: 69%;
    }
}
@media screen and (max-width:445px) and (min-width:420px) {
    .user-pro-img i {
        right: 67%;
    }
}
@media screen and (max-width:419px) and (min-width:394px) {
    .user-pro-img i {
        right: 64%;
    }
}
@media screen and (max-width:393px) and (min-width:368px) {
    .user-pro-img i {
        right: 61%;
    }
}
@media screen and (max-width:367px) and (min-width: 342px){
    .user-pro-img i {
        right: 59%;
    }
}
@media screen and (max-width:341px) and (min-width:316px) {
    .user-pro-img i {
        right: 55%;
    }
}
@media screen and (max-width:315px) and (min-width:290px) {
    .user-pro-img i {
        right: 52%;
    }
}
@media screen and (max-width:289px) and (min-width:264px) {
    .user-pro-img i {
        right: 46%;
    }
}
@media screen and (max-width:263px) {
    .user-pro-img i {
        right: 40%;
    }
}
@media screen and  (max-width: 575px) {
    .profilephotobtn {
        left: 165px !important;
    }
}
@media screen and  (max-width: 560px) {
    .profilephotobtn {
        left: 155px !important;
    }
}
@media screen and  (max-width: 545px) {
    .profilephotobtn {
        left: 145px !important;
    }
}
@media screen and  (max-width: 530px) {
    .profilephotobtn {
        left: 135px !important;
    }
}
@media screen and  (max-width: 515px) {
    .profilephotobtn {
        left: 125px !important;
    }
}
@media screen and  (max-width: 500px) {
    .profilephotobtn {
        left: 115px !important;
    }
}
@media screen and  (max-width: 485px) {
    .profilephotobtn {
        left: 107px !important;
    }
}
@media screen and  (max-width: 460px) {
    .profilephotobtn {
        left: 99px !important;
    }
}
@media screen and  (max-width: 445px) {
    .profilephotobtn {
        left: 91px !important;
    }
}
@media screen and  (max-width: 430px) {
    .profilephotobtn {
        left: 83px !important;
    }
}
@media screen and  (max-width: 415px) {
    .profilephotobtn {
        left: 75px !important;
    }
}
@media screen and  (max-width: 400px) {
    .profilephotobtn {
        left: 67px !important;
    }
}
@media screen and  (max-width: 385px) {
    .profilephotobtn {
        left: 59px !important;
    }
}
@media screen and  (max-width: 370px) {
    .profilephotobtn {
        left: 51px !important;
    }
}
@media screen and  (max-width: 355px) {
    .profilephotobtn {
        left: 45px !important;
    }
}
@media screen and  (max-width: 340px) {
    .profilephotobtn {
        left: 40px !important;
    }
}
@media screen and  (max-width: 325px) {
    .profilephotobtn {
        left: 35px !important;
    }
}
@media screen and  (max-width: 310px) {
    .profilephotobtn {
        left: 30px !important;
    }
}
@media screen and  (max-width: 295px) {
    .profilephotobtn {
        left: 25px !important;
    }
}
@media screen and  (max-width: 280px) {
    .profilephotobtn {
        left: 20px !important;
    }
}
@media screen and  (max-width: 265px) {
    .profilephotobtn {
        left: 10px !important;
    }
}
@media screen and  (max-width: 250px) {
    .profilephotobtn {
        left: 0 !important;
    }
}
@media screen and (max-width: 380px) {
    .modal-header .modal-title {
        font-size: 14px !important;
    }
    .modal-header button {
        width: 25px;
        height: 25px;
    }
}
@media screen and (max-width: 280px) {
    .modal-header .modal-title {
        font-size: 11px !important;
    }
}

@media screen and (max-width: 377px) and (min-width: 263px) {
    .create-new-account {
        width: 80%;
        padding: 10px 5px;
        font-size: 14px;
    }
}
@media screen and (max-width: 262px) {
    .create-new-account {
        width: 90%;
        padding: 10px 5px;
        font-size: 12px;
    }
}
@media screen and (max-width: 576px) {
    .swal-modal {
        width: 270px;
        margin-left: -3px;
    }

    .swal-icon:first-child {
        margin-top: 8px;
    }

    .swal-text:last-child {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .swal-title:not(:last-child) {
        margin-bottom: 1px;
    }

    .swal-icon {
        width: 30px;
        height: 30px;
        margin: 5px auto;
        display: none;
    }

    .swal-icon--warning__body {
        height: 17px;
        top: 2px;
    }

    .swal-icon--error__line {
        position: absolute;
        height: 5px;
        width: 17px;
        background-color: #f27474;
        display: block;
        top: 12px;
        border-radius: 2px;
    }

    .swal-icon--error__line--left {
        left: 7px;
    }

    .swal-icon--error__line--right {
        right: 6px;
    }

    .swal-icon--success__ring {
        width: 30px;
        height: 30px;
    }

    .swal-icon--success__line--long {
        width: 2px;
        right: 2px;
        top: 2px;
    }

    .swal-icon--success__line--tip {
        width: 2px;
        left: 2px;
        top: 2px;

    }

    .swal-icon--success__hide-corners {
        width: 5px;
        height: 10px;
        background-color: #fff;
        padding: 1px;
        position: absolute;
        left: 8px;
        top: 0;
        z-index: 1;
    }

    .swal-title {
        color: rgba(0, 0, 0, .65);
        font-weight: 400;
        text-transform: none;
        position: relative;
        display: block;
        padding: 10px 8px;
        font-size: 16px;
        line-height: normal;
        text-align: center;
        margin-bottom: 0;
        margin-top: 8px;
    }

    .swal-text {
        font-size: 13px;
        position: relative;
        float: none;
        line-height: normal;
        vertical-align: top;
        text-align: left;
        display: inline-block;
        margin: 0;
        padding: 0 4px;
        font-weight: 400;
        color: rgba(0, 0, 0, .64);
        max-width: calc(100% - 20px);
        overflow-wrap: break-word;
        box-sizing: border-box;
    }

    .swal-footer {
        margin-top: 3px;
        padding: 3px 4px;
        border-radius: inherit;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .swal-button {
        border: none;
        box-shadow: none;
        border-radius: 5px;
        font-weight: 400;
        font-size: 12px;
        padding: 6px 10px;
        margin: 0;
        cursor: pointer;
    }
}
@media screen and (max-width: 1199px) {
    .notification-info {
        width: 85%;
        text-align: left;
    }
}
    @media screen and (max-width: 460px) {
    .notfication-details {
        padding: 7px;
    }
    .notification-info h3 a {
        font-size: 12px;
    }
}
@media screen and (max-width: 368px) {
    .notification-info {
        width: 80%;
        text-align: left;
    }
}

@media screen and (max-width: 991px) {
    .user-pro-img img {
        transform: translate(10%, 10%);
    }
}



/*.friends-requests {*/
    /*padding-top: 0;*/
    /*overflow-x: auto;*/
/*}*/
/*.friends-requests img {*/
    /*margin-top: 0 !important;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*min-height: 214px;*/
    /*max-height: 214px;*/
    /*object-fit: cover;*/
    /*background-size: cover;*/
    /*background-position: center;*/
    /*border-radius: 5px 5px 0 0;*/
/*}*/

/*.friends-requests h3 {*/
    /*margin-top: 5px;*/
    /*font-size: 16px;*/
    /*font-weight: 500;*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
/*}*/
/*.friends-requests h3:hover {*/
    /*text-decoration: underline;*/
/*}*/

/*.friends-requests ul li {*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
/*}*/
/*.friends-requests ul li a {*/
    /*width: 90%;*/
    /*margin: 5px auto;*/
    /*font-size: .9375rem;*/
    /*padding-top: 10px;*/

/*}*/
/*.friends-requests .confirm-request {*/
    /*background-color: #385499;*/
/*}*/
/*.friends-requests .delete-request {*/
    /*background-color: #e1e1e1;*/
    /*color: #000 !important;*/
/*}*/
#addpost {
    padding-right: 0 !important;
}
.remove-scrolling {
    height: 100%;
    overflow: hidden;
}
.contact-main {
    width: 333px;
    position: fixed;
    height: calc(100vh - 73px);
    display: none;
    top: 12.1%;
    right: 0.1%;
}
@media screen and (max-width: 768px) {
    .contact-main {
        min-width: 100vw;
        max-width: 100vw;
        top: 5.5%;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100vh;
    }
}
.contact-btn {
    background-color: #385499;
    color: #fff !important;
    border-radius: 10px;
    padding: 10px;
    position: fixed;
    right: 0.90%;
    bottom: 1%;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}
#number_div .code-select {
    width: auto;
}
#number_div .phone_input {
    width: 60%;
}

@media screen and (max-width: 1200px) and (min-width: 250px){
    #invites {
        z-index: 9999;
    }
}

#email_, #email_group {
    text-transform: none;
}

#code_group{
    margin-top: 1.1px;
    height: 38px;
}



/* Tabs Content for Search functionality Page*/
.project-tab {
    padding: 10% 2%;
    margin-top: -4%;
}
@media screen and (max-width: 700px) {
    .project-tab {
        margin-top: 20px;
    }
}
@media screen and (max-width: 450px) {
    .project-tab {
        margin-top: 30px;
    }
}
@media screen and (max-width: 320px) {
    .project-tab {
        margin-top: 50px;
    }
}
.project-tab #tabs{
    background: #007b5e;
    color: #eee;
}
.project-tab #tabs h6.section-title{
    color: #eee;
}
.project-tab nav {
    background-color: #fff;
    margin-bottom: 20px;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #0062cc;
    background-color: transparent;
    border-bottom: 3px solid !important;
    /* font-size: 16px; */
    font-weight: bold;
    margin-bottom: 5px;
}
.project-tab #tabs .nav-link.active {
    color: #385499;
}
.project-tab .nav-link {
    color: #0062cc;
    font-size: 16px;
    font-weight: 400;
    border: none !important;
    outline: none !important;
}
.project-tab .nav-link:hover {
    border: none;
    color: #385499;
}
.project-tab thead{
    background: #f3f3f3;
    color: #333;
}
.project-tab a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
    cursor: pointer;
}
.project-tab .search-results-title, .project-tab .search-results-subtitle {
    border-bottom: 1px solid #e4e4e4;
    padding: 10px 0 15px;
    font-weight: bold;
}
.project-tab .search-results-subtitle {
    color: #385499;
}
.project-tab .search-results-subtitle a {
    margin-top: -25px;
    font-size: 13px;
    cursor: pointer;
    font-weight: bold;
}
.project-tab .search-result-user {
    float: left;
    width: 100%;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 5px;
    margin-bottom: 30px;
}
.search-result-user img {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.search-result-user h3 {
    vertical-align: middle;
    margin-bottom: 0 !important;
    margin-top: 17px;
    width: 50%;
}
@media screen and (max-width: 460px) {
    .search-result-user h3 {
        width: 38%;
    }
}
.search-result-user ul {
    float: right;
    width: auto;
    margin-top: -20px;
}
.project-tab #nav-profile, .project-tab #nav-contact {
    display: none;
}
.side-menu-nav .nav-item .nav-link {
    text-align: center !important;
    font-size: 18px !important;
    color: #385499 !important;
    height: 56px !important;
    width: auto !important;
    line-height: 56px !important;
    margin: 0 auto !important;
    border-radius: 8px !important;
    padding-top: 8px !important;
}

.post-bar-title{
    box-shadow: none !important;
    border-left: 4px solid #e4e4e4;
}

@media screen and (max-width: 1200px) and (min-width: 450px) {
    .invites-links-friends {
        top: 11px !important;
    }
}

@media screen and (max-width: 991.98px) {
    .center-column {
        left: 0 !important;
        min-width: 100% !important;
        max-width: 100% !important;
    }
}
@media screen and (max-width:1200px){
    .main-section-data {
        margin-top: 60px;
    }
}

.modal-body .form-control {
    text-transform: none !important;
}