header {
    float: left;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.28);
    padding: 15px 3px 0 3px;
}
.header-data {
    float: left;
    width: 100%
}
.logo {
    float: left;
    width: 60px;
    margin-right: 14px;
    margin-top: -3px;
    text-align: center;
}
.logo img {
    float: left;
    max-width: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
}
.search-bar {
    float: left;
    min-width: 280px;
    border-radius: 100px !important;
}

.search-bar .search-form {
    float: left;
    width: 100%;
    position: relative;
    background-color: #efefef;
    /*color: #000;*/
    font-size: 14px;
    cursor: pointer;
    border-radius: 100px !important;
    /*display: inline-flex;*/
}
.search-bar form button {
    border-radius: 100px !important;
}
.search-bar .search-form i {
    margin: 12px 10px;
    color: #385499;
    border-radius: 100px !important;
}
.search-bar .search-form input {
    /*width: 90%;*/
    background-color: #efefef;
    height: 38px;
    width: 200px;
    line-height: 38px;
    border: 0;
    outline: none;
    font-weight: 300;
    border-radius: 100px !important;
}
.inner-search {
    z-index: 99999999;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.28);
    position: absolute;
    top: 1px;
    left: 1px;
    min-width: 370px;
    max-width: 370px;
    min-height: 100px;
    background-color: #fff;
    display: inline-block;
    padding: 10px;
}
.inner-search form i {
    font-size: 16px;
    padding: 8px 10px;
    margin-right: 6px;
    margin-left: 6px;
}
.inner-search form i:hover {
    background-color: #f5f5f5;
    border-radius: 100px;
}
.inner-search form input {
    width: 80%;
    background-color: #efefef;
    height: 38px;
    color: #555;
    font-size: 12px;
    border: 0;
    padding: 0 10px;
    outline: none;
    border-radius: 100px;
}
nav {
    float: left;
    width: 40%;
    text-align: center;
}
@media screen and (max-width: 1278px) and (min-width: 1200px) {
    .search-bar  {
        min-width: 230px;
    }
    nav {
        width: 45%;
        text-align: left;
    }
    nav ul li {
        padding: 10px 5px 13px 5px;
    }
}
nav ul li {
    display: inline-block;
    text-align: center;
    padding: 10px 13px 13px 13px;
    position: relative;
}
nav ul li a {
    color: #555;
    font-size: 14px;
}
nav ul li:hover > ul {
    opacity: 1;
    visibility: visible;
    z-index: 9999
}
nav ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background-color: #fff;
    text-align: left;
    padding: 20px 0 10px;
    opacity: 0;
    visibility: hidden;
    z-index: 999999
}
nav ul ul li {
    padding: 0;
    float: left;
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
    padding: 0 20px
}
nav ul ul li a:hover {
    color: #fff
}
nav ul ul li a {
    font-size: 16px
}
.menu-btn {
    float: right;
    display: none
}
.menu-btn i {
    font-size: 16px;
    color: #385499;
    display: inline-block;
    padding-top: 6px;
    cursor: pointer;
}
.user-account {
    float:right;
    width: 250px;
    box-sizing:border-box;
    position:relative;
    margin-top: -2px;
}
.user-account-info {
    float: left;
    width: 145px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    position: relative;
}
.user-account-info:hover{
    cursor: pointer;
    background-color: #e4e4e4;
    border-radius: 100px;
}
.user-info {
    float:right;
    position: relative;
    cursor: pointer;
}
.user-account-info img {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
    object-fit: cover !important;
    background-size: cover;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    float: left;
}
.user-account-info h6 {
    /*float: left;*/
    text-transform: capitalize;
    color: #000;
    font-size: 13px;
    margin-top: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-weight: normal;
}
.user-info > i {
    background-color: #efefef;
    border-radius: 100px;
    padding: 10px 14px;
    margin-top: 24px;
    color: #000;
    font-size: 20px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%)
}
.notification-div {
    float: right;
    margin-top: 5px;
    margin-right: 10px;
    background-color: #efefef;
    border-radius: 100px;
    padding: 8px 3px 8px 0;
}
.notification-box {
    position: absolute;
    top: 100%;
    right: -15px;
    width: 330px;
    background-color: #fff;
    height: calc(100vh - 74px);
    overflow-y: auto;
    overflow-x: hidden !important;
    overflow-wrap: break-word;
    opacity: 1;
    visibility: visible;
    z-index: 999;
    border-radius: 5px;
    display: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, .28);
}
.user-account-settingss {
    position: absolute;
    opacity: 1;
    visibility: visible;
    z-index: 999;
    display: none;
    top: 100%;
    right: 0;
    width: 330px;
    background-color: #fff;
    border-left: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .28);
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, .28);
    -ms-box-shadow: 0 0 6px rgba(0, 0, 0, .28);
    -o-box-shadow: 0 0 6px rgba(0, 0, 0, .28);
    box-shadow: 0 0 6px rgba(0, 0, 0, .28)
}

.user-account-settingss.active {
    opacity: 1;
    visibility: visible;
    z-index: 9999
}

.user-account-settingss > a {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    float: left;
    width: 100%;
    padding: 10px
}
.user-account-settingss i {
    background-color: #e4e4e4;
    font-size: 20px;
    margin-right: 20px;
}

.user-account-settingss a:hover {
    background-color: #f1f1f1;
}

a img.notification-icon {
    width: 20px;
    float: none;
    vertical-align: middle;
    border-radius: 100px;
}
.notfication-details {
    float: left;
    width: 100%;
    /*padding: 15px;*/
    /*margin: 5px 0;*/
    border-radius: 5px;
}
.nott-list .notfication-details {
    padding: 10px;
    margin: 5px 0;
}
.notfication-details:last-child {
    border-bottom: none;
}
.nt-title {
    float: left;
    width: 100%;
    padding: 10px 20px;
}
.nt-title h4 {
    float: left;
    color: #000;
    font-size: 24px;
    font-weight: 600;
}
.nt-title > a {
    float: right;
    color: #385499;
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
}
.usy-dt img, .noty-user-img img {
    width: 40px;
    height: 40px;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain !important;
    object-fit: cover !important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-top: 2px;
}
.nott-list .notification-info {
    width: 86%;
    float: left;
    text-align: left;
    position: relative;
}
.notification-info {
    padding-left: 10px;
}
.notification-info h3 {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    border: 0;
    padding: 0;
    margin-bottom: 3px;
}
.nott-list .notification-info h3 {
    line-height: 20px;
}
.notification-info > p {
    color: #385499;
    font-size: 12px;
    font-weight: 400;
    text-align: left !important;
}
.chat-mg span {
    position: absolute;
    top: -30px;
    right: 50px;
    width: 16px;
    height: 16px;
    background-color: rgba(186, 3, 3, 0.84);
    text-align: center;
    font-size: 10px;
    color: #fff;
    line-height: 16px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
}


.small-menu-close-btn,
.small-menu-profile-pic,
.small-menu-setting,
.small-menu-logout,
.small-menu-notification-icon {
    display: none;
}
.invite-friends-link {
    position: absolute;
    top: 18px;
    right: 270px;
    padding: 8px;
}
.invite-friends-link:hover {
    background-color: #e4e4e4;
    border-radius: 100px;
}
.invite-friends-link a {
    font-size: 14px;
}
.logo-sm img {
    float: none;
    margin-top: 14px;
}
.user-account-settingss i {
    margin-right: 20px;
}

@media(max-width:1200px){
    header nav{
        position:fixed;
        top:58px;
        right:0;
        width:100%;
        height:100%;
        background-color:#e4e4e4;
        padding:10px;
        opacity:0;
        visibility:hidden;
    }
    header nav.activemenu{
        opacity:1;
        visibility:visible;
        overflow: auto;
        padding: 10px;
    }
    header nav.activemenu ul {
        padding-left: 0 !important;
    }
    header nav ul li{
        float:left;
        width:100%;
        text-align:left;
        margin-bottom:8px;
        border-radius: 20px;
    }
    .menu-btn{
        display:block
    }
    header {
        padding-bottom: 7px;
    }
    .user-account {
        display: none;
    }
    .small-menu-profile-pic, .small-menu-setting, .small-menu-logout, .small-menu-notification-icon {
        display: block;
    }
    .small-menu-close-btn:hover {
        color: #fff;
    }
    .small-menu-profile-pic {
        padding: 6px 0 0 10px;
    }
    .small-menu-profile-pic:hover {
        background-color: #fff;
        border-radius: 100px;
    }
    .small-menu-profile-pic img {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        object-fit: cover;
        border-radius: 100px;
        margin-right: 6px;
        width: 30px;
        height: 30px;
        float: left;
    }
    .small-menu-profile-pic h6 {
        margin-top: 6px;
        padding-left: 10px;
        color: #555;
        text-transform: capitalize;
    }

    .small-menu-icon {
        position: absolute;
        left: 100%;
        margin-top: 17px;
    }

}
@media screen and (max-width: 1200px) and (min-width: 450px) {
    .invite-friends-link {
        right: 50px;
        top: 9px;
    }
    nav ul {
        margin: 0 !important;
    }
}
@media screen and (max-width: 450px) {
    .header-data .logo {
        width: 50px;
        margin-right: 5px;
    }
    .invite-friends-link {
        right: 32px;
        top: 10px;
    }
    .invite-friends-link a {
        font-size: 11px;
    }
    .menu-btn i {
        font-size: 11px;
        padding-top: 7.3px;
    }
}
@media screen and (max-width: 330px) {
    .invite-friends-link a {
        font-size: 9px;
    }
}
@media (max-width: 576px) {
    .search-bar {
        width: 50%;
    }
}
@media screen and (max-width: 576px) {
    .inner-search {
        min-width: 220px;
        max-width: 220px;
    }
    .search-bar {
        min-width: 140px;
        margin-top: -5px;
    }
    .inner-search form input {
        width: 75%;
    }
    .search-bar .search-form input{
        background-color: #efefef;
        height: 38px;
        width: 73%;
        line-height: 38px;
        border: 0;
        outline: none;
        border-radius: 100px;
    }

}
@media screen and (max-width: 330px) {
    .search-bar {
        min-width: 50px;
    }
    .inner-search form input {
        width: 45%;
    }

}