.width-machine {
    padding: 0 1rem;
}

.textarea {
    border: 1px solid #ccc;
    font-family: inherit;
    font-size: inherit;
    padding: 8px 6px;
    display: block;
    width: auto;
    /*overflow: hidden;*/
    resize: both;
    min-height: 40px;
    line-height: 20px;
    border-radius: 21px;
}

.textarea[contenteditable]:empty::before {
    content: "Type your message";
    color: gray;
}

.chat-mg {
    display: inline-block;
    position: relative;
}

.count-message {
    background-color: rgba(186, 3, 3, 0.84);
    border-radius: 50px;
    display: none;
    height: 16px;
    width: 16px;
    font-size: 10px;
    text-align: center;
    margin-top: -18px;
    margin-left: 20px;
    color: white;
}

.user-chat-topbar{
    background-color: #f5f7fb;
}

.textarea {
    background-color: #f5f7fb !important;
    border: 1px solid #f5f7fb !important;
}

.emojionearea.emojionearea-inline>.emojionearea-editor {
    white-space: normal;
    height: auto;
    overflow-wrap: break-word;
    background-color: #ffffff;
    border-radius: 21px !important;
}

.emojionearea, .emojionearea.form-control {
    border-radius: 21px !important;
    background-color: #ffffff !important;
}

.emojionearea.focused {
    box-shadow: none !important;
}

.chat-send {
    background-color: #385499;
}

.chat-send:hover, .chat-send:focus {
    background-color: #385499;
    box-shadow: none;
}

@media screen and (max-width: 768px) {
    .emojionearea .emojionearea-picker {
        top: 70%;
    }
}

@media screen and (max-width: 540px) {
    .emojionearea .emojionearea-picker {
        top: 65%;
        left: 10px;
        background-color: #fff;
    }
}

@media screen and (max-width: 440px) {
    .emojionearea .emojionearea-picker {
        top: 60%;
        left: 30px;
        background-color: #fff;
    }
}

@media screen and (max-width: 340px) {
    .emojionearea .emojionearea-picker {
        left: 50px;
        background-color: #fff;
    }
}

@media screen and (max-width: 991.98px) {
    /*.chat-input-section {*/
        /*overflow-y: auto;*/
    /*}*/
    .emojionearea .emojionearea-picker {
        visibility: visible;
        z-index: 9999;
        position: fixed;
        top: 80%;
        left: 30%;
    }
    .send-file-icons {
        position: fixed;
        right: 0;
    }
    #pills-booking-tab {
        display: block !important;
    }
}

@media screen and (max-width: 768px) {
    .emojionearea .emojionearea-picker {
        top: 75%;
    }
}

@media screen and (max-width: 576px) {
    .emojionearea .emojionearea-picker {
        top: 70%;
    }
}

@media screen and (max-width: 460px) {
    .emojionearea .emojionearea-picker {
        left: 10%;
    }
}

@media screen and (max-width: 360px) {
    .emojionearea .emojionearea-picker {
        left: 0;
    }
}

img {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 45px 45px !important;
    object-fit: cover !important;
    overflow: hidden;
}


.member-list-custom h5 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    width: 89%;
}

@media screen and (max-width: 576px ) {
    .member-list-custom {
        justify-content: flex-start !important;
    }
}

@media screen and (max-width: 476px ) {
    .member-list-custom h5 {
        width: 83%;
    }
}

@media screen and (max-width: 425px ) {
    .member-list-custom h5 {
        width: 75%;
    }
}

@media screen and (max-width: 393px ) {
    .member-list-custom h5 {
        width: 60%;
    }
}

@media screen and (max-width: 320px ) {
    .member-list-custom h5 {
        width: 45%;
    }
}




.contact-list h5, p .receive-message {
    overflow-wrap: break-word;
}

.chat-user-list h5 {
    color: #000;
    font-weight: 600;
}
.modal-header button{
    background-color: transparent !important;
    height: 25px !important;
    top: 32px !important;
}
.modal-header button span{
    font-size: 20px !important;
}
.modal-footer{
    padding-bottom: 15px !important;
}
input.form-control{
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e6ebf5;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
.modal-header{
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
    padding: 1rem 1rem !important;
    border-bottom: 1px solid #f0eff5 !important;
    border-top-left-radius: calc(0.4rem - 1px) !important;
    border-top-right-radius: calc(0.4rem - 1px) !important;
}
.modal-footer {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -webkit-box-pack: end !important;
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
    padding: 0.75rem !important;
    border-top: 1px solid #f0eff5 !important;
    border-bottom-right-radius: calc(0.4rem - 1px) !important;
    border-bottom-left-radius: calc(0.4rem - 1px) !important;
}

@media (max-width: 320px) {
    .side-menu-nav .nav-item .nav-link {
        font-size: 14px;
        width: 55px;
    }
}

.recieve-message span {
    font-style: italic;
}

.chat-conversation .conversation-list .ctext-wrap-content {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.ctext-wrap-content p {
    margin-bottom: 0.5rem !important;
}
@media screen and (max-width:1200px){
    .layout-wrapper {
        margin-top: 60px !important;
        height: calc(100vh - 60px) !important ;
    }
}

@media  screen and (max-width: 1600px) and (min-width: 1050px) {
    .chat-input-section {
        margin-left: 3% !important;
        width: 100% !important;
        bottom: 0;
        z-index: 1;
    }
}

@media  screen and (max-width: 1049px) and (min-width: 991.99px) {
    .chat-input-section {
        margin-left: 5% !important;
    }
}

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #9fb0b9;
    border-radius: 50px;
}

@media screen and (max-width: 991.98px) {
    .date{
        top:12px !important;
    }
}
.date {width:auto !important; text-align:center;
    position:sticky !important;
    top:5px;
z-index: 1 !important;}

#email_, #email_group {
    text-transform: none !important;
}

.modal-body .form-control {
    text-transform: none !important;
}
